
<div *ngIf="mostrarLoading">
  <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
</div>

<br>
<div class="card">
    <h5 class="card-header text-center font-weight-bold text-uppercase ">ORDENES DE COMPRA GENERADAS</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                <div class="row card">
                    <div class="col-md-12"> 
                        <div class="row">
                            <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                            <div class="col-md-9">
                                <dx-date-box
                                    [(value)]="nowdesde"
                                    type="date">
                                </dx-date-box>
                            </div>

                            <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                            <div class="col-md-9">
                                <dx-date-box
                                    [(value)]="nowhasta"
                                    type="date">
                                </dx-date-box>
                            </div>

                            <div class="col-md-4"></div>
                            <div class="col-md-4 btnSearch">
                                <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerRegistrosPorRango()">Buscar</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>        
                    </div>
                </div>                
            </div>
            
            <div class="col-md-4 " style="margin-left: 1em;">
            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
            <div class="row card">
                <br><br>
                <div class="col-md-12"> 
                    <div class="row">  
                        <div class="col-md-3"></div>
                        <div class="col-md-6 btnSearch">
                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerOrdenesCompra()">Buscar Todos</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>        
                </div>
                <br>
            </div>         
        </div>
        <div class="col-md-2"></div>
        </div>   
    </div>
</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-12">
                <div class="dx-field radio">
                    <div class="dx-field-value">
                        <dx-radio-group
                        [items]="tiposMenu"
                        [(value)]="tipoMenu"
                        layout="horizontal"
                        (onValueChanged)="opcionRadioTipos($event)">
                        </dx-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <dx-data-grid id="gridContainer"
        [dataSource]="ordenesCompraGenerales"
        [showBorders]="true"
        [remoteOperations]="true">
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>   
        <dxi-column dataField="_id" caption="ID" dataType="string" [visible]="false"></dxi-column>
        <dxi-column dataField="n_orden" caption="Orden #" dataType="string" sortOrder="desc" *ngIf="mostrarNroOrden"></dxi-column>
        <dxi-column dataField="documento" caption="Solicitud #" dataType="string" sortOrder="desc"></dxi-column>
        <dxi-column dataField="sucursal.nombre" caption="Sucursal" dataType="string"></dxi-column>
        <dxi-column dataField="proveedor.nombre_proveedor" caption="Proveedor" dataType="string"></dxi-column>
        <dxi-column dataField="msjAdmin" caption="Motivo de Rechazo" [width]="30+'%'" dataType="string" *ngIf="mostrarMotivoRechazo"></dxi-column>
        <dxi-column dataField="tipo" caption="Tipo" dataType="string" *ngIf="mostrarTipo"></dxi-column>
        <dxi-column dataField="total" dataType="number" *ngIf="mostrarTotal"></dxi-column>
        <dxi-column dataField="fechaAP" dataType="date" *ngIf="mostrarFecha"></dxi-column>
        <dxi-column dataField="estadoOrden" caption="Estado" dataType="string" *ngIf="mostrarEstado"></dxi-column>
        <dxi-column dataField="usuario" caption="Usuario" dataType="string" [visible]="false"></dxi-column>
        <dxi-column type="buttons"  caption="Ver">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        <dxi-column type="buttons" caption="Aprobar" id="botones" [visible]="opadmin" *ngIf="mostrarOp1">
            <dxi-button icon="fa fa-check" [onClick]="aceptarOrden"></dxi-button>
        </dxi-column>
        <dxi-column type="buttons" caption="Rechazar" id="botones" [visible]="opadmin" *ngIf="mostrarOp1">
            <dxi-button icon="fa fa-reply" [onClick]="rechazarOrden"></dxi-button>
        </dxi-column>
        <dxi-column type="buttons" dataField="bt1" caption="Notas" width="7%" *ngIf="mostrarNot">
            <dxi-button hint="Notas" icon="fa fa-list-alt" [onClick]="mostrarNotas"></dxi-button>
        </dxi-column>
        
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
    </dx-data-grid>
</div>

<!-- 482 -->