<div>
    <h3>Compras</h3>
</div>
<!--BOTONES DE ACCION-->
<div class="row espacio">
    <div class="col-6">
        <dx-button [text]="'Generar Solicitud de Compra'" [type]="'success'" (onClick)="generarSolicitudDeCompra($event)">
        </dx-button>
    </div>
   
        <div class="col-md-6" style="text-align: right;">
            <div class="row">
                <div class="col-md-10"> <span>Compra directa  </span><dx-check-box [(value)]="seleccion" (onValueChanged)="mostrarC($event)"></dx-check-box></div>  
            </div>
            <div id="esconder"  style="display: none;">
                <div class="row" style="text-align: right;">
                <div class="col-md-6"> Factura Proveedor</div>
                <div class="col-md-4"> <dx-text-box [(value)]="factproveedor" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div>
            </div>  
        </div>
</div>



<!--ENCABEZADO DEL FORMULARIO-->
<dx-form id="form" #comprasForm [(formData)]="ordenDeCompra" [readOnly]="false" [colCount]="3" [width]="1000" >
    <dxi-item itemType="group" [colCount]="4" [colSpan]="3">
        <dxi-item dataField="fecha" [colSpan]="1" [editorOptions]="{ placeholder: 'Fecha'}">
            <dx-date-box [(value)]="now" [type]="'date'" [showClearButton]="true" >
                <dx-validator>
                    <dxi-validation-rule type="required" message="La fecha es requerida"></dxi-validation-rule>
                </dx-validator>
            </dx-date-box>
            <dxo-label [visible]="false"></dxo-label>

        </dxi-item>
        <dxi-item dataField="proveedor.contacto" [colSpan]="2" [editorOptions]="{ placeholder: 'Contacto'}">
            <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="documento" [colSpan]="1" [editorOptions]="{ placeholder: 'Documento N'}" cssClass="prueba2">
            <dxo-label
            location="left"
            alignment="left"> 
        </dxo-label>
           
        </dxi-item>
    </dxi-item>
        <dxi-item dataField="proveedor.nombre_proveedor"  [editorOptions]="{ placeholder: 'Cliente'}" [colSpan]="2">
            <dx-autocomplete
            [dataSource]="proveedores"
            placeholder="Proveedor"
            valueExpr="nombre_proveedor"
            [(value)]= "mensaje2"
            (onChange)="setClienteData($event)"
            >
        </dx-autocomplete>
        <dxi-validation-rule 
        type="required"
        message="Nombre de proveedor es requerido">
    </dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>    
        <dxi-item dataField="fechaEntrega"  [colSpan]="1" [editorOptions]="{ placeholder: 'Fecha entrega'}" [colSpan]="1">
            <dx-date-box [type]="'date'" [showClearButton]="true" [(value)]="now3">
                <dx-validator>
                    <dxi-validation-rule type="required" message="La fecha de entrega es requerida"></dxi-validation-rule>
                </dx-validator>
            </dx-date-box>
            <dxo-label
            location="left"
            alignment="left"> <!-- or "left" | "center" -->
        </dxo-label>
        </dxi-item>
        <dxi-item dataField="proveedor.ruc" [colSpan]="1" [editorOptions]="{ placeholder: 'Ruc'}">
            <dxi-validation-rule
            type= "pattern"
            pattern= '^[0-9]{10,15}$'
            message="El Ruc debe ser tipo  y minimo 10 caracteres">
        </dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="proveedor.direccion" [colSpan]="1" [editorOptions]="{ placeholder: 'Direccion'}">
            <dxo-label [visible]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Direccion de proveedor es requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="proveedor.celular" [colSpan]="1" [editorOptions]="{ placeholder: 'Celular'}">
            <dxi-validation-rule type="required" message="Telefonos de proveedor es requerido"></dxi-validation-rule>
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item  [colSpan]="1">
            <dx-select-box [items]="locales" [value]="locales[1]" [readOnly]="false" [disabled]="false"
                    [searchEnabled]="true" 
                    valueExpr="nombre" displayExpr="nombre" (onValueChanged)="obtenerDatosSucursal($event)">
                </dx-select-box>
                <dxi-validation-rule type="required" message="Campo sucursal requerido"></dxi-validation-rule>
        </dxi-item>
       

        <dxi-item dataField="sucursal.contacto" [editorOptions]="{ placeholder: 'Contacto'}" [colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="sucursal.celular" [editorOptions]="{ placeholder: 'Sucursal Celular'}" [colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="lugarentrega" [editorOptions]="{ placeholder: 'Lugar Entrega'}" [colSpan]="3">
            <dxo-label [visible]="false"></dxo-label>
            <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="condpago" [editorOptions]="{ placeholder: 'Cond Pago'}" [colSpan]="2">
            <dx-select-box [items]="condicionPagos" 
            [value]="condicionPagos[0]" 
            [readOnly]="false" 
            [disabled]="false"
            (onValueChanged)="obtenerTipoPago($event)"
           ></dx-select-box>
           <dxo-label
           location="left"
           alignment="left"> <!-- or "left" | "center" -->
       </dxo-label>
        </dxi-item>


        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item #espacio itemType="group"  [colSpan]="3"  [name]="espacio">
            <dxi-item itemType="empty" [colSpan]="3" ></dxi-item>
           
          
        </dxi-item>

        <dxi-item itemType="group" [colSpan]="3">
            <dxi-item *ngFor="let p of productosComprados;let i = index"></dxi-item>
        </dxi-item>
        
    <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
    <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
        

    <dxi-item dataField="costeUnitaTransport" [editorOptions]="{ placeholder: 'Costo Unitario Transporte'}" [colSpan]="1">
        <dx-number-box [(value)]="costeUnitaTransport" [disabled]="false" [readOnly]="false"
                   (onChange)="calcularTotalFactura()"  [min]="1">
                </dx-number-box>
    </dxi-item>
    <dxi-item dataField="otrosCostosGen" [editorOptions]="{ placeholder: 'Otros Costos Generales'}" [colSpan]="3">
        <dx-number-box [(value)]="otrosCostosGen" [disabled]="false" [readOnly]="false"
                   (onChange)="calcularTotalFactura()"  [min]="1">
                </dx-number-box>
    </dxi-item>
    <dxi-item dataField="otros Descuentos Gen(%)" [editorOptions]="{ placeholder: 'Otros Desc.Generados'}" [colSpan]="2">
        <dx-number-box [(value)]="otrosDescuentosGen" [disabled]="false" [readOnly]="false"
                   (onChange)="calcularTotalFactura()"  [min]="1">
                </dx-number-box>
    </dxi-item>


    <dxi-item dataField="observaciones" [editorOptions]="{ placeholder: ''}" [colSpan]="2">
        <dxo-label
        location="left"
        alignment="left"> 
    </dxo-label>
    </dxi-item>
    <dxi-item  [editorOptions]="{ disabled: true }" dataField="total" [colSpan]="1" cssClass="prueba2">
        <dxo-label
        location="left"
        alignment="left"> <!-- or "left" | "center" -->
    </dxo-label>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
    <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
</dx-form>

<div class="productos contenedorProductos">
    <div class="alinearBoton">
        <dx-button [text]="'Añadir producto'" [type]="'success'" 
        (onClick)="anadirProducto($event)">
    </dx-button>
    <dx-button [text]="'Ver calculadora'" [type]="'success'" (onClick)="verCalculadora($event)"></dx-button>
    </div>
    
    <div class="row ">
        <div class="col-1">
            <div class="row" style="position: absolute;text-align: left;">
                <div class="col-4">
                    <h5>Select</h5>
                </div>
                <div class="col-4" style="text-align: center;">
                    <h5>Iva</h5>
                </div>
            <div class="col-4" style="text-align:left">
                    <h5 style="text-align: left">Img</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h5>Producto</h5>
        </div>
        <div class="col-2">
            <div class="row">
                <!-- <div class="col-6">
                    <h5>Rot</h5>

                </div> -->
                <div class="col-6">
                    <h5>Disp.</h5>
                </div>
                <div class="col-6">
                    <h5>Eq.</h5>
                </div>
            </div>
        </div>
        <div class="col-1">
            <h5>PCOST</h5>
        </div>
        <div class="col-1">
            <h5>Cantidad</h5>
        </div>
        <div class="col-1">
            <h5>PCOM</h5>
        </div>
        <div class="col-1">
            <h5>Dsct.</h5>
        </div>
        <div class="col-1">
            <h5>Total</h5>
        </div>
        <div class="col-1">
            <h5>Elimin</h5>
        </div>
    </div>
    <div *ngFor="let p of productosComprados;let i = index">
        <div class="row altura">
            <div class="col-1">
                <div class="row" style="position: absolute;text-align: left;">
                    <div class="col-md-3">
                        <dx-check-box [(value)]="p.seleccionado" (onValueChanged)="cambiarEstadoSeleccionado($event)">
                        </dx-check-box>
                    </div>
                    <div class="col-md-3">
                        <dx-check-box [(value)]="p.iva" (onValueChanged)="carcularTotalProducto($event, i)" ></dx-check-box>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <button class="fondobt" (click)="mostrarPopup($event,i)" >
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
            <div class="col-3">
                <!-- <dx-select-box [dataSource]="productos22" [(value)]="p.REFERENCIA" [readOnly]="false" [disabled]="false"
                [searchEnabled]="true"  (onValueChanged)="obtenerDatosDeProductoParaUnDetalle($event, i)" 
                valueExpr="PRODUCTO" displayExpr="PRODUCTO" hint={{p.REFERENCIA}}>
            </dx-select-box> -->
            <dx-select-box
                    [dataSource]="productos22"
                    displayExpr="PRODUCTO"
                    [searchEnabled]="true"
                    valueExpr="PRODUCTO"
                    [(value)]="p.REFERENCIA"
                    hint={{p.REFERENCIA}}
                    (onValueChanged)="obtenerDatosDeProductoParaUnDetalle($event, i)"
                    itemTemplate="item">
                    <div *dxTemplate="let data of 'item'">
                       
                        <div style="display:inline-block;font-size: 0.8rem;">{{data.PRODUCTO}}
                           </div>
                    </div>
                </dx-select-box>
            </div>
            <div class="col-2">
                <div class="row">
                    <!-- <div class="col-6">
                        <dx-text-box [(value)]="p.rotacion" [disabled]="false" [readOnly]="true"></dx-text-box>
                    </div> -->
                    <div class="col-6">
                        <dx-text-box [(value)]="p.disponible" [disabled]="false" [readOnly]="true"></dx-text-box>
                    </div>
                    <div class="col-6">
                        <dx-text-box [(value)]="p.equivalencia" [disabled]="false" [readOnly]="true"></dx-text-box>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <dx-text-box [(value)]="p.precio_cos" [disabled]="false" [readOnly]="true"></dx-text-box>
            </div>
            <div class="col-1">
                <dx-number-box [(value)]="p.cantidad" [disabled]="false" [readOnly]="false"
                    (onFocusIn)="setSelectedProducto(i)" (onChange)="carcularTotalProducto($event, i)"  [min]="0">
                </dx-number-box>
               
            </div>
            <div class="col-1">
                <dx-number-box [(value)]="p.precio_compra" [disabled]="false" [readOnly]="false"
                    (onChange)="carcularTotalProducto($event, i)" >
                </dx-number-box>
            </div>
            <div class="col-1">
                <dx-number-box [(value)]="p.desct" [disabled]="false" [readOnly]="false"  (onChange)="calcularDescuento($event, i)">
                </dx-number-box>
            </div>
            <div class="col-1">
                <dx-number-box [value]="p.total" [disabled]="false" [readOnly]="false">
                </dx-number-box>
            </div>
            <div class="col-1">
                 <i class="dx-icon-close" (click)="deleteProductoVendido(i)"></i>    
            </div>

        </div>

    </div>
</div>



<dx-popup
        [width]="660"
        [height]="540"
        [showTitle]="true"
        [title]="titulo"
        [closeOnOutsideClick]="true"
        [(visible)]="popupvisible">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
            <div class='popup-property-details'>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"><dx-gallery #gallery
                            id="gallery"
                            [dataSource]="imagenes"
                            [height]="300"
                            
                            [loop]="true"
                            [showNavButtons]="true"
                            [showIndicator]="true"
                        ></dx-gallery></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <button class="btn btn-primary " style="background-color: #ff4500;"  (click)="verGaleria(imagenes)" >Ver Galería
                        </button>
                    </div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table style="width:100%">
                                <tr>
                                  <th>PRODUCTO</th>
                                  <td>{{catalogoLeido.PRODUCTO}}</td>
                                </tr>
                                <tr>
                                    <th>CLASIFICACIÓN</th>
                                    <td>{{catalogoLeido.CLASIFICA}}</td>
                                </tr>
                                <tr>
                                    <th>REFERENCIA</th>
                                    <td>{{catalogoLeido.REFERENCIA}}</td>
                                </tr>
                                <tr>
                                    <th>UNIDAD</th>
                                    <td>{{catalogoLeido.UNIDAD}}</td>
                                </tr>
                                <tr>
                                    <th>DIMENSIONES</th>
                                    <td>{{catalogoLeido.DIM}}</td>
                                </tr>
                                <tr>
                                    <th>NOMBRE COMERCIAL</th>
                                    <td>{{catalogoLeido.NOMBRE_COMERCIAL}}</td>
                                </tr>
                                <tr>
                                    <th>P_CAJA</th>
                                    <td>{{catalogoLeido.P_CAJA}}</td>
                                </tr>
                                <tr>
                                    <th>M2</th>
                                    <td>{{catalogoLeido.M2}}</td>
                                </tr>
                                <tr>
                                    <th>CAL</th>
                                    <td>{{catalogoLeido.CAL}}</td>
                                </tr>
                                <tr>
                                    <th>CASA</th>
                                    <td>{{catalogoLeido.CASA}}</td>
                                </tr>
                                <tr>
                                    <th>TIPO</th>
                                    <td>{{catalogoLeido.TIPO}}</td>
                                </tr>
                                <tr>
                                    <th>ORIGEN</th>
                                    <td>{{catalogoLeido.ORIGEN}}</td>
                                </tr>
                                <tr>
                                    <th>ESTADO</th>
                                    <td>{{catalogoLeido.ESTADO}}</td>
                                </tr>
                                <tr>
                                    <th>DISPONIBILIDAD</th>
                                    <td style="font-weight: bold;">{{disponibilidadProducto}}<button style="text-align: right;color: red;border-color: transparent;background-color: transparent;" (click)="mostrarDivUbicaciones()"><i class="fa fa-map-marker"></i></button></td>
                                </tr>
                              </table>

                              <br><br>
                              <div id="bodegUbi" style="display: none;" >
                                <div style="text-align: center;font-weight: bold;">UBICACIONES</div>
                                <table style="width:100%">
                                    <tr>
                                      <th>MATRIZ</th>
                                      <td>{{catalogoLeido.ubicacion1}}</td>
                                    </tr>
                                    <tr>
                                        <th>SUCURSAL 1</th>
                                        <td>{{catalogoLeido.ubicacion2}}</td>
                                    </tr>
                                    <tr>
                                        <th>SUCURSAL 2</th>
                                        <td>{{catalogoLeido.ubicacion3}}</td>
                                    </tr>
                                  </table>
                              </div>
                              <br><br>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </dx-scroll-view>
        </div>
    </dx-popup>
    <dx-popup
    [width]="'70%'"
    [height]="'80%'"
    [showTitle]="true"
    [title]="titulo"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVi">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="col-md-12">
            <div class="row">
               
                <div class="col-md-4">
                    
                    <div  *ngFor="let imagen of imagenesData; let id = index">
                        
                        <div class="col-md-12 espacio"><button (click)="enviar(id)"><img  class="imgProducto3 " src={{imagen}} alt=""></button></div>
                   
                    </div>
               
                </div>
                
               
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <pinch-zoom>
                                <img  class="imgProducto2 " src={{imagenPrincipal}} alt="">
                            </pinch-zoom>
                           
                        </div>
                    </div>
                   </div>
              
            </div>
        </div>
    </dx-scroll-view>
    </div>
   
</dx-popup>


<dx-popup [width]="500" [height]="500" [showTitle]="true" title="Calculadora" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="visibleCalculadora" class="row">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"> <dx-select-box [items]="tipoConversiones" 
                [value]="tipoConversiones[0]" 
                [readOnly]="false" 
                [disabled]="false"
                (onValueChanged)="opcionMenu($event)"></dx-select-box></div>
        </div>
        <br><br>

        <div id="op1" style="display: block;">
            <div style="text-align: center;" class="id3"><h4>Equivalencia a m2</h4></div>

            <dx-select-box [items]="productos2" [value]="productos2" [readOnly]="false" [disabled]="false"
            [searchEnabled]="true"  (onValueChanged)="obtenerDatosCalculadora($event)" 
            valueExpr="PRODUCTO" displayExpr="PRODUCTO">
            </dx-select-box>
            <div class="row">
            <div class="col-md-6">
                <br>
                <label for="">Cajas</label>
                <dx-number-box [(value)]="cantidadcal" class="calT" [disabled]="false" [readOnly]="false"
                (onChange)="calcularMetros($event)">
                </dx-number-box>
                <label for="">Piezas</label>
                <dx-text-box [(value)]="valorEnM2" class="calT" (onKeyDown)="calcularMetros($event)" (onChange)="calcularMetros($event)" [disabled]="false" [readOnly]="false"></dx-text-box>
                <br>   
            </div>
    
            <div class="col-md-6" style="text-align: center;">
                <br>
                <br>
                <h4>m2</h4>
                <dx-number-box [(value)]="caltotal" [disabled]="false" [readOnly]="true"
                        (onKeyDown)="calcularMetros($event)" class="tot">
                    </dx-number-box></div>
                </div>
     
                <dx-number-box [(value)]="calp" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false">
                    </dx-number-box>
                <dx-number-box [(value)]="calmetros" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false"  >
                </dx-number-box>
        </div>

        <div id="op2" style="display: none;">
            <div style="text-align: center;" class="id3"><h4>Equivalencia a m2</h4></div>

            <dx-select-box [items]="productos2" [value]="productos2" [readOnly]="false" [disabled]="false"
            [searchEnabled]="true"  (onValueChanged)="obtenerDatosCalculadora2($event)"  (onChange)="calcularMetros2($event)" 
            valueExpr="PRODUCTO" displayExpr="PRODUCTO">
            </dx-select-box>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <br>
                    <br>
                    <h4>m2</h4>
                    <dx-number-box [(value)]="caltotal" [disabled]="false" [readOnly]="false"
                    (onChange)="calcularMetros2($event)" class="tot">
                        </dx-number-box></div>
            <div class="col-md-6">
                <br>
                <label for="">Cajas</label>
                <dx-number-box [(value)]="cantidadcal" class="calT" [disabled]="false" [readOnly]="true"
                >
                </dx-number-box>
                <label for="">Piezas</label>
                <dx-text-box [(value)]="valorEnM2" class="calT" [disabled]="false" [readOnly]="true"></dx-text-box>
                <br>   
            </div>
    
            
                </div>
     
                <dx-number-box [(value)]="calp" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false">
                    </dx-number-box>
                <dx-number-box [(value)]="calmetros" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false"  >
                </dx-number-box>
        </div>
        <div >
            <div class="col-md-12" style="text-align: center;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table style="text-align: center;">
                            <tr>
                            <th>M2/Caja</th>
                            <th>Piezas/Caja</th>
                            </tr>
                            <tr>
                            <td style="text-align: center;">{{calmetros}}</td>
                            <td style="text-align: center;">{{calp}}</td>
                           
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                   
                </div>
                
            </div>
          
        </div>
  
       

</dx-popup>





