

<div class="row remiPro titulos">
    <div class="col-md-8"><div class="">
        
    </div></div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [value]="menu1[0]" 
        [readOnly]="false" 
        [disabled]="false"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
</div>
<div id="devolucion" style="display: block;">
    <div class="row remiPro">
        <div class="col-md-12 titulo"><h4>Bajas de Productos</h4></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><p>Sucursal</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="locales" [(value)]="sucursal" [readOnly]="false" [disabled]="false"
                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre"  (onValueChanged)="asignarDatoSucursal($event)">
                </dx-select-box></div>
            </div>  
            <div class="row">
                <div class="col-md-6"><p>Usuario</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="usuario" [readOnly]="false" ></dx-text-box></div>
            </div>       
        </div>
    
        <div class="col-md-6">
           
            <div class="row">
                <div class="col-md-6"><p>ID-Devolución</p> </div>
                <div class="col-md-6" style="margin-bottom: 1em;"><dx-number-box [(value)]="id_baja" [readOnly]="true" class="id"></dx-number-box></div>
            </div>           
            <div class="row">
                <div class="col-md-6"><p>Fecha</p> </div>
                <div class="col-md-6"> <dx-date-box [(value)]="fecha" [type]="'date'" [showClearButton]="true" [readOnly]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="La fecha es requerida"></dxi-validation-rule>
                    </dx-validator>
                </dx-date-box></div>
            </div>
          <!--   <div class="row">
                <div class="col-md-6"><p>Fecha Transacción</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="fecha_transaccion" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div> -->
        </div>
    
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3"><p>Observaciones</p> </div>
                <div class="col-md-9"><dx-text-box [(value)]="observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div>
        </div>
        
    </div>

    <div class="remiPro">
        <div class="detalle">
            <div class="titcent row" >
                <div class="alinearBoton col-md-4" >
                    <dx-button icon="plus" [type]="'success'" [disabled]="false" (onClick)="anadirProducto($event)">
                </dx-button>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <h6>Detalle Productos</h6>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            
            <div class="row titulosT">
                <div class="col-3">
                    <h5>Producto</h5>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col-md-4"><h5>Cajas</h5></div>
                        <div class="col-md-4"><h5>Piezas</h5></div>
                        <div class="col-md-4"><h5>Costo</h5></div>
                    </div>
                </div>
                <div class="col-2">
                    <h5>Responsable</h5>
                </div>
                <div class="col-2">
                    <h5>Causa</h5>
                </div>
                <div class="col-2">
                    <h5>Justificación</h5>
                </div>
                <div class="col-1">
                    <div class="row">
                        <div class="col-md-12"> <h5>Eliminar</h5></div>
                    </div>
                </div>
            </div>
            <div *ngFor="let p of productosBaja;let i = index" style="text-align: center;margin-top: 1em;">
                <div class="row altura">
                    <div class="col-3">
                        <dx-select-box [dataSource]="productos22" [(value)]="p.REFERENCIA" [readOnly]="false" [disabled]="false"
                        [searchEnabled]="true"  
                        valueExpr="PRODUCTO" displayExpr="PRODUCTO" (onValueChanged)="obtenerDetallesDoc($event,i)">
                    </dx-select-box>
                  
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col-md-4"><dx-number-box [(value)]="p.cantFactCajas" [disabled]="false" [readOnly]="false" (onValueChanged)="transformarM2($event,i)"></dx-number-box></div>
                            <div class="col-md-4"><dx-number-box [(value)]="p.cantFactPiezas" [disabled]="false" [readOnly]="false" (onValueChanged)="transformarM2($event,i)"></dx-number-box></div>
                            <div class="col-md-4"><dx-number-box [(value)]="p.total" [disabled]="false" [readOnly]="false" ></dx-number-box></div>
                        </div>
                       
                    </div>
                   
                    <div class="col-2">
                         <dx-text-box [(value)]="p.responsable" [disabled]="false" [readOnly]="false" ></dx-text-box>
                    </div>
                    <div class="col-2">
                        <dx-select-box [items]="menuMotivo" [(value)]="p.causa" [readOnly]="false" [disabled]="false"
                        [searchEnabled]="true"  >
                    </dx-select-box>
                    </div>
                    <div class="col-2">
                        <dx-text-box [(value)]="p.justificacion" [disabled]="false" [readOnly]="false"></dx-text-box>
                    </div>
                    <div class="col-1" >
                        <dx-button icon="clear" color="white" class="bt" (onClick)="deleteProducto($event,i)"></dx-button> 
                    </div>   
                </div>
        
            </div>
        
        </div>
        <div class="remiPro">
        <div class="row" >
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="row" >
                    <div class="col-md-3"><p>Total</p> </div>
                    <div class="col-md-9 total"><dx-text-box [(value)]="totalBajas" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                </div>
            </div>
           
        </div>
        <div style="text-align: center">
            <dx-button
                            class="button-info bt2"
                            text="Guardar"
                            [disabled]="false"
                            (onClick)="guardarBaja()">
                        </dx-button>
    
                        
        </div>
    </div>
    </div>
</div>


<div id="admin" style="display: none;">
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="bajasPendientes"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
       
        <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="_id"
            caption="ID"
            dataType="string"
            [visible]="false" 
          >
        </dxi-column>
        <dxi-column
            dataField="id_baja"
            caption="Devolucion N"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="fecha"
            caption="Fecha"
            dataType="string">
        </dxi-column>
       
        <dxi-column
            dataField="sucursal"
            caption="Sucursal"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="totalBajas"
            caption="Total"
            dataType="number"
            [visible]="true">
        </dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        <dxi-column type="buttons" dataField="bt2"  caption="Acciones" width="20%" [visible]="true">
            <dxi-button text="Aprobar" [onClick]="getCourseFile2"></dxi-button>
            <dxi-button text="Rechazar" [onClick]="getCourseFile3"></dxi-button>
            <!-- <dxi-button text="Rechazar" [onClick]="rechazarOrden"></dxi-button> -->
            
        </dxi-column>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>

<div id="aprobaciones" style="display: none;">
    <h4>Baja de productos Pendientes</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="bajasPendientes"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Baja" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
        dataField="id_baja"
        caption="Devolucion N"
        dataType="string"
        sortOrder="desc">
    </dxi-column>
    <dxi-column
        dataField="fecha"
        caption="Fecha"
        dataType="string">
    </dxi-column>
   
    <dxi-column
        dataField="sucursal"
        caption="Sucursal"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="totalBajas"
        caption="Total"
        dataType="number"
        [visible]="true">
    </dxi-column>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>


    <br>
    <h4>Baja de productos Aprobadas</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="bajasAprobadas"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
        dataField="id_baja"
        caption="Devolucion N"
        dataType="string"
        sortOrder="desc">
    </dxi-column>
    <dxi-column
        dataField="fecha"
        caption="Fecha"
        dataType="string">
    </dxi-column>
   
    <dxi-column
        dataField="sucursal"
        caption="Sucursal"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="totalBajas"
        caption="Total"
        dataType="number"
        [visible]="true">
    </dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        <!-- <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column> -->
       
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>



    <br>
    <h4>Baja de productos Rechazadas</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="bajasRechazadas"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="id_baja"
            caption="Devolucion N"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="fecha"
            caption="Fecha"
            dataType="string">
        </dxi-column>
       
        <dxi-column
            dataField="sucursal"
            caption="Sucursal"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="totalBajas"
            caption="Total"
            dataType="number"
            [visible]="true">
        </dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
       
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>



