<ngx-spinner
bdOpacity = 0.4
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-beat"
[fullScreen] = "false"
>
<p style="color: white" > Espere </p>
</ngx-spinner>

<dx-validation-group #validateLogin>
    <div class="login-header">
        <!--<div class="title">Constructor</div>-->
        <img src="../../../../assets/Logo 01.png" alt="" class="img-thumbnail">
    </div>
    <div class="dx-field">
        <dx-text-box [(value)]="login" placeholder="Usuario o email" width="100%">
            <dx-validator>
                <dxi-validation-rule type="required" message="Usuario es requerido"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" [(value)]="password" placeholder="Contraseña" width="100%" (onEnterKey)="onLoginClick($event)">
            <dx-validator>
                <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <!--<div class="dx-field">
        <dx-check-box [value]="false" text="Remember me"></dx-check-box>
    </div>-->
    <div class="dx-field">
        <dx-button type="default" text="Iniciar sesion" (onClick)="onLoginClick($event)" width="100%"></dx-button>
    </div>
    <!--<div class="dx-field">
        <a routerLink="/recovery">Forgot password ?</a>
    </div>
    <div class="dx-field">
        <dx-button type="normal" text="Create an account" width="100%"></dx-button>
    </div>-->
</dx-validation-group>
