<div *ngIf="mostrarLoading">
    <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
</div>

<br>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <div class="dx-field radio">
            <div class="dx-field-value">
                <dx-radio-group
                [items]="sucursalesDefault"
                [(value)]="sucursalUsuario" 
                layout="horizontal"
                (onValueChanged)="asignarsucursalD($event)">
                </dx-radio-group>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin:0.2em">
            <h5 class="card-header text-center font-weight-bold text-uppercase">VENTAS</h5>
            <div class="card-body">
                <div class="row" style="margin-top: -1em;">
                    <div class="col-md-8" style="margin-top: 1em;">  
                        <div class="row" style="margin-left: 1em;">
                            <div class="col-md-4">
                                <div class="row espacioDivs">      
                                    <dx-date-box [(value)]="now" [type]="'date'" [readOnly]="!isAdmin" [showClearButton]="true">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="La fecha es requerida"></dxi-validation-rule>
                                        </dx-validator>
                                    </dx-date-box>
                                </div>
                            </div>

                            <div class="col-md-4" style="margin-left: 1em;">
                                <div class="row espacioDivs">
                                    <dx-select-box [items]="usuarios" 
                                        [(value)]="username" 
                                        [readOnly]="false" 
                                        [disabled]="false"
                                        displayExpr="username"
                                        valueExpr="username">
                                    </dx-select-box>
                                </div>
                            </div>

                            <div class="col-md-4" style="margin-left: -2em;">
                                <dx-select-box [items]="tipoDocumentos" 
                                    [value]="tipoDocumentos[0]" 
                                    [readOnly]="false" 
                                    [disabled]="false"
                                    (onValueChanged)="obtenerTipoDocumento($event)">
                                </dx-select-box>
                            </div>

                            <div class="col-md-12 espDivs" style="margin-left: 0.2em;">
                                <div class="row">
                                    <div class="col-md-8 dxauto">
                                        <dx-autocomplete #data2
                                            [dataSource]="clientes"
                                            placeholder="Nombre del cliente"
                                            valueExpr="cliente_nombre"
                                            [(value)]= "mensaje"
                                            (onChange)="setClienteData($event)">
                                        </dx-autocomplete>
                                    </div>
                                    <div class="col-md-4 espDivs" style="margin-left: 0.1em;">
                                        <dx-text-box [(value)]="factura.cliente.ruc" placeholder="RUC" [disabled]="false" [readOnly]="false"></dx-text-box>
                                    </div>
                                </div>
                            </div>                          

                        </div>

                        <div class="col-md-12 espDivs" style="margin-left: 0.2em;">
                            <div class="row">
                                <div class="col-md-8">
                                    <dx-text-box [(value)]="factura.cliente.direccion" placeholder="Dirección" [disabled]="false" [readOnly]="false"></dx-text-box>
                                </div>
                                <div class="col-md-4">
                                    <dx-text-box [(value)]="factura.cliente.correo" placeholder="Correo" [disabled]="false" [readOnly]="false"></dx-text-box>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-12 espDivs" style="margin-top: 1.5em;margin-left: 0.2em;">
                            <div class="row">
                                <div class="col-md-4">
                                    <dx-text-box [(value)]="factura.cliente.telefono" placeholder="Teléfono" [disabled]="false" [readOnly]="false"></dx-text-box>
                                </div>
                                <div class="col-md-4">
                                    <dx-text-box [(value)]="factura.tipo_cliente" placeholder="Tipo Cliente" [disabled]="false" [readOnly]="false"></dx-text-box>
                                </div>
                                <div class="col-md-4">
                                    <dx-text-box [(value)]="factura.tipo_venta" placeholder="Tipo Venta" [disabled]="false" [readOnly]="false"></dx-text-box>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 espDivs">
                            <div class="row">
                                <div class="col-md-11" style="margin-left: -3em;">
                                    <div class="dx-field radio" >
                                        <div class="dx-field-value" >
                                            <dx-radio-group
                                            [items]="formasPago"
                                            layout="horizontal"
                                            (onValueChanged)="opcionRadio($event)">
                                            </dx-radio-group>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="col-md-4">
                        <br>
                        <div style="text-align: center;margin-bottom: 1em;">CONSECUTIVO</div>
                        <div style="text-align: center;font-size: 2rem;margin-top: -1rem;font-weight: bold;">{{textoConsecutivo}}-{{factura.documento_n}}</div>
                        <div style="text-align: center;font-size: 1rem;margin-top: 0.5rem;font-weight: bold;"> RUC: {{RucSucursal}}</div>
                    <!--BOTONES DE ACCION-->
                        <div class="row" style="text-align: center;">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-12 btn-action">
                                    <dx-button [text]="'Generar Factura'" [type]="'success'" style="width:100%" (onClick)="registrarFactura()" [disabled]="botonFactura">
                                    </dx-button>
                                </div>
                                <div class="col-12 btn-action">
                                    <dx-button [text]="'Generar Nota de venta'" [type]="'success'"  style="width:100%" (onClick)="registrarNotaVenta()" [disabled]="botonNotaVenta">
                                    </dx-button>
                                </div>
                                <div class="col-12 btn-action">
                                    <dx-button [text]="'Generar Cotizacion'" [type]="'success'"  style="width:100%" (onClick)="generarCotizacion($event)" [disabled]="botonCotizacion">
                                    </dx-button>
                                </div>
                            </div>
                            <div class="col-md-1"></div>                   
                        </div>       
                    </div>
                </div>


                <div style="text-align: left;">
                    <dx-button [text]="'Agregar'" [type]="'success'" [disabled]="newButtonEnabled" style="background-color: #ff5722;" (onClick)="anadirProducto($event)"></dx-button>              
                    <dx-button [text]="'Ver calculadora'" [type]="'success'" style="background-color: #ff5722;" (onClick)="verCalculadora($event)"></dx-button>
                </div>
                <br>
                <h6 class="card-header card-header-subtitle text-center font-weight-bold ">Detalle de Productos</h6>
                <br>
                
               <!--  <div style="text-align: right;">
                    <dx-button [text]="'Agregar'" [type]="'success'" style="background-color: #ff5722;" (onClick)="addElement()"></dx-button>              
                </div>
                 -->  
                <div style="margin-left: 1em;">
                    <div class="row" style="text-align: left;font-size: 8pt;">
                        <div class="col-md-10 nopadding">
                            <div class="row" style="text-align: center;">
                                <div class="col-md-1 nopadding" >
                                    <div class="row" style="margin-left: 1em;">
                                            <div class="col-md-4 nopadding">
                                            <p>Slct</p>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <p>Iva</p>
                                        </div>
                                        <div class="col-md-4 nopadding">
                                            <p>Img</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p>Producto</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Disp.</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Pmin</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Eqv.</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Cantidad (m2/uni.)</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Precio venta</p>
                                </div>
                                <div class="col-md-1">
                                    <p>Dscto.(%)</p>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-2 nopadding" style="text-align: left;font-size: 8pt;">
                            <div class="row">  
                                <div class="col-md-6 nopadding" style="text-align: center;">
                                    <p>Total</p>
                                </div>
                                <div class="col-md-2 nopadding">
                                    <p>Pd</p>
                                </div>
                                <div class="col-md-2 nopadding">
                                    <p>En</p>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let p of productosVendidos;let i = index" >
                        <div class="row altura nopadding">
                            <div class="col-md-10 nopadding">
                                <div class="row" style="text-align: center;font-size: 8pt;">
                                    <div class="col-md-1 nopadding">
                                        <div class="row">
                                                <div class="col-md-4 nopadding">
                                                <dx-check-box [(value)]="p.seleccionado" (onValueChanged)="cambiarEstadoSeleccionado($event)">
                                                </dx-check-box>
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                <dx-check-box [(value)]="p.iva" (onValueChanged)="carcularTotalProducto($event, i)" [readOnly]="selectAct"></dx-check-box>
                                            </div>
                                            <div class="col-md-4 nopadding">
                                                <button class="fondobt" (click)="mostrarPopup($event,i)">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                
                                    <div class="col-md-5" style="margin-top: -2.5em;">
                                        <dx-select-box
                                        [dataSource]="productos22"
                                        displayExpr="PRODUCTO"
                                        [searchEnabled]="true"
                                        valueExpr="PRODUCTO"
                                        [(value)]="p.REFERENCIA"
                                        hint={{p.producto.PRODUCTO}}
                                        (onValueChanged)="obtenerDatosDeProductoParaUnDetalle($event, i)"
                                        itemTemplate="item">
                                        <div *dxTemplate="let data of 'item'">
                                        
                                            <div style="display:inline-block;font-size: 0.8rem;">{{data.PRODUCTO}}
                                            </div>
                                        </div>
                                    </dx-select-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-text-box [(value)]="p.disponible" [disabled]="true" [readOnly]="true"></dx-text-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-text-box [(value)]="p.precio_min" [disabled]="true" [readOnly]="true"></dx-text-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-text-box [(value)]="p.equivalencia" [disabled]="false" [readOnly]="true"></dx-text-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-number-box [(value)]="p.cantidad" [disabled]="false" [readOnly]="false"
                                            (onChange)="calcularEquivalencia($event, i)"  (onChange)="calcularDisponibilidadProducto($event, i)" (onChange)="carcularTotalProducto($event, i)"
                                            (onFocusIn)="setSelectedProducto(i)" >
                                        </dx-number-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-number-box [(value)]="p.precio_venta" [disabled]="false" [readOnly]="false"
                                            (onChange)="carcularTotalProducto($event, i)" [min]="p.precio_min">
                                        </dx-number-box>
                                    </div>
                                    <div class="col-md-1">
                                        <dx-number-box [(value)]="p.descuento" [disabled]="false" [readOnly]="false"
                                        (onChange)="calcularDescuento($event, i)">
                                        </dx-number-box>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <dx-number-box [value]="p.total" [disabled]="false" [readOnly]="false">
                                        </dx-number-box>
                                    </div>
                                    <div class="col-md-2 nopadding" style="padding: unset;">
                                        <dx-check-box [value]="p.pedir"></dx-check-box>

                                    </div>
                                    <div class="col-md-2 nopadding" style="padding: unset;">
                                        <dx-check-box [(value)]="p.entregar" (onValueChanged)="cambiarestado($event, i)"></dx-check-box>
                                    </div>
                                    <div class="col-md-2 nopadding" style="padding: unset;">
                                        <i class="dx-icon-close" (click)="deleteProductoVendido(i)"></i>

                                    </div>
                                </div>
                            </div>
                        

                        </div>

                    </div>
                </div>

                <br><br><br>
                <div class="row">
                    <div class="col-md-8 espDivs">
                        <div class="row" style="margin-left:0.2em">
                            <div class="col-md-3">Transporte</div>
                            <div class="col-md-3 inputTransporte">
                                <dx-number-box [(value)]="factura.coste_transporte" (onChange)="calcularTransporte()" placeholder="Observaciones" ></dx-number-box>
                            </div>
                            <div class="col-md-3">Maestro</div>
                            <div class="col-md-3" style="margin-top: -1.3em;">
                                <dx-select-box [items]="clientesMaestros" 
                                    [(value)]="maestroConstructor" 
                                    [readOnly]="false" 
                                    [disabled]="false"
                                    displayExpr="cliente_nombre"
                                    valueExpr="cliente_nombre"
                                    (onValueChanged)="asignarMaestro($event)">
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="row" style="margin-left:0.2em">
                            <div class="col-md-3">Observaciones</div>
                            <div class="col-md-9">
                                <dx-text-box [(value)]="factura.observaciones" placeholder="Observaciones" [disabled]="false" [readOnly]="false"></dx-text-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 4em;">
                        <div class="row" >
                            <div class="col-md-2"></div>
                            <div class="col-md-3" style="text-align: center;">Total</div>
                            <div class="col-md-6 prueba2"><dx-number-box [(value)]="factura.total"  placeholder="Total" [disabled]="false" [readOnly]="false"></dx-number-box></div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>







<dx-popup
        [width]="660"
        [height]="540"
        [showTitle]="true"
        [title]="titulo"
        [closeOnOutsideClick]="true"
        [(visible)]="popupvisible">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view width="100%" height="100%">
            <div class='popup-property-details'>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"><dx-gallery #gallery
                            id="gallery"
                            [dataSource]="imagenes"
                            [height]="300"
                            [loop]="true"
                            [showNavButtons]="true"
                            [showIndicator]="true"
                        ></dx-gallery></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <button class="btn btn-primary " style="background-color: #ff4500;"  (click)="verGaleria(imagenes)" >Ver Galería
                        </button>
                    </div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table style="width:100%">
                                <tr>
                                  <th>PRODUCTO</th>
                                  <td>{{catalogoLeido.PRODUCTO}}</td>
                                </tr>
                                <tr>
                                    <th>CLASIFICACIÓN</th>
                                    <td>{{catalogoLeido.CLASIFICA}}</td>
                                </tr>
                                <tr>
                                    <th>REFERENCIA</th>
                                    <td>{{catalogoLeido.REFERENCIA}}</td>
                                </tr>
                                <tr>
                                    <th>UNIDAD</th>
                                    <td>{{catalogoLeido.UNIDAD}}</td>
                                </tr>
                                <tr>
                                    <th>DIMENSIONES</th>
                                    <td>{{catalogoLeido.DIM}}</td>
                                </tr>
                                <tr>
                                    <th>NOMBRE COMERCIAL</th>
                                    <td>{{catalogoLeido.NOMBRE_COMERCIAL}}</td>
                                </tr>
                                <tr>
                                    <th>COSTO</th>
                                    <td>{{catalogoLeido.precio}}</td>
                                </tr>
                                <tr>
                                    <th>P_CAJA</th>
                                    <td>{{catalogoLeido.P_CAJA}}</td>
                                </tr>
                                <tr>
                                    <th>M2</th>
                                    <td>{{catalogoLeido.M2}}</td>
                                </tr>
                                <tr>
                                    <th>CAL</th>
                                    <td>{{catalogoLeido.CAL}}</td>
                                </tr>
                                <tr>
                                    <th>CASA</th>
                                    <td>{{catalogoLeido.CASA}}</td>
                                </tr>
                                <tr>
                                    <th>TIPO</th>
                                    <td>{{catalogoLeido.TIPO}}</td>
                                </tr>
                                <tr>
                                    <th>ORIGEN</th>
                                    <td>{{catalogoLeido.ORIGEN}}</td>
                                </tr>
                                <tr>
                                    <th>ESTADO</th>
                                    <td>{{catalogoLeido.ESTADO}}</td>
                                </tr>
                                <tr>
                                    <th>DISPONIBILIDAD</th>
                                    <td style="font-weight: bold;">
                                        <p [ngClass]="{'txtRed' : flagDisProdMatriz }">{{disponibilidadProducto}}</p>
                                        <p [ngClass]="{'txtRed' : flagDisProdSuc1 }">{{disponibilidadProductoS1}}</p>
                                        <p [ngClass]="{'txtRed' : flagDisProdSuc2 }">{{disponibilidadProductoS2}}</p>
                                        <span style="text-align: right;">
                                            <button style="text-align: right;color: red;border-color: transparent;background-color: transparent;" (click)="mostrarDivUbicaciones()"><i class="fa fa-map-marker"></i>
                                            </button>
                                        </span>
                                    </td>
                                </tr>
                              </table>
                              
                              
                              <br><br>
                              <div id="bodegUbi" style="display: none;" >
                                <div style="text-align: center;font-weight: bold;">UBICACIONES</div>
                                <table style="width:100%">
                                    <tr>
                                      <th>MATRIZ</th>
                                      <td>{{catalogoLeido.ubicacion1}}</td>
                                    </tr>
                                    <tr>
                                        <th>SUCURSAL 1</th>
                                        <td>{{catalogoLeido.ubicacion2}}</td>
                                    </tr>
                                    <tr>
                                        <th>SUCURSAL 2</th>
                                        <td>{{catalogoLeido.ubicacion3}}</td>
                                    </tr>
                                  </table>
                              </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </dx-scroll-view>
        </div>
    </dx-popup>
 

<dx-popup
    [width]="'70%'"
    [height]="'80%'"
    [showTitle]="true"
    [title]="titulo"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVi">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <div class="col-md-12">
                <div class="row">
                
                    <div class="col-md-4">
                        
                        <div  *ngFor="let imagen of imagenesData; let id = index">
                            
                            <div class="col-md-12 espacio"><button (click)="enviar(id)"><img  class="imgProducto3 " src={{imagen}} alt=""></button></div>
                    
                        </div>
                
                    </div>
                    
                
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <pinch-zoom>
                                    <img  class="imgProducto2 " src={{imagenPrincipal}} alt="">
                                </pinch-zoom>
                            
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </dx-scroll-view>
    </div>
   
</dx-popup>


<dx-popup [width]="500" [height]="500" [showTitle]="true" title="Calculadora" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="visibleCalculadora" class="row">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6" style="text-align: center;"> 
                <dx-select-box 
                    [items]="tipoConversiones" 
                    [value]="tipoConversiones[0]" 
                    [readOnly]="false" 
                    [disabled]="false"
                    class="form-control select"
                    (onValueChanged)="opcionMenu($event)">
                </dx-select-box>
            </div>
        </div>
        <br><br>

        <div *ngIf="mostrarOP1">
            <div style="text-align: center;" class="id3"><h5>EQUIVALENCIA A M2</h5></div>

            <dx-select-box [items]="productos2" [value]="productos2" [readOnly]="false" [disabled]="false"
            [searchEnabled]="true"  (onValueChanged)="obtenerDatosCalculadora($event)" 
            valueExpr="PRODUCTO" displayExpr="PRODUCTO">
            </dx-select-box>
            <div class="row">
            <div class="col-md-6">
                <br>
                <label for="">Cajas</label>
                <dx-number-box [(value)]="cantidadcal" class="calT" [disabled]="false" [readOnly]="false"
                (onChange)="calcularMetros($event)">
                </dx-number-box>
                <label for="">Piezas</label>
                <dx-text-box [(value)]="valorEnM2" class="calT" (onKeyDown)="calcularMetros($event)" (onChange)="calcularMetros($event)" [disabled]="false" [readOnly]="false"></dx-text-box>
                <br>   
            </div>
    
            <div class="col-md-6" style="text-align: center;">
                <br>
                <br>
                <h5>M2</h5>
                <dx-number-box [(value)]="caltotal" [disabled]="false" [readOnly]="true"
                        (onKeyDown)="calcularMetros($event)" class="tot calT2">
                    </dx-number-box></div>
                </div>
     
                <dx-number-box [(value)]="calp" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false">
                    </dx-number-box>
                <dx-number-box [(value)]="calmetros" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false"  >
                </dx-number-box>
        </div>

        <div *ngIf="mostrarOP2">
            <div style="text-align: center;" class="id3"><h5>EQUIVALENCIA A M2</h5></div>

            <dx-select-box [items]="productos2" [value]="productos2" [readOnly]="false" [disabled]="false"
            [searchEnabled]="true"  (onValueChanged)="obtenerDatosCalculadora2($event)"  (onChange)="calcularMetros2($event)" 
            valueExpr="PRODUCTO" displayExpr="PRODUCTO">
            </dx-select-box>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <br>
                    <br>
                    <h5>M2</h5>
                    <dx-number-box [(value)]="caltotal" [disabled]="false" [readOnly]="false"
                    (onChange)="calcularMetros2($event)" class="tot calT2">
                        </dx-number-box>
                </div>
                <div class="col-md-6">
                    <br>
                    <label for="">Cajas</label>
                    <dx-number-box [(value)]="cantidadcal" class="calT" [disabled]="false" [readOnly]="true"></dx-number-box>
                    <label for="">Piezas</label>
                    <dx-text-box [(value)]="valorEnM2" class="calT" [disabled]="false" [readOnly]="true"></dx-text-box>
                    <br>   
                </div>
            </div>
            

                <dx-number-box [(value)]="calp" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false">
                    </dx-number-box>
                <dx-number-box [(value)]="calmetros" [showClearButton]="true" [disabled]="false" [readOnly]="false"
                [visible]="false"  >
                </dx-number-box>
        </div>
        <div>
            <div class="col-md-12" style="text-align: center;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table style="text-align: center;">
                            <tr>
                            <th>M2/Caja</th>
                            <th>Piezas/Caja</th>
                            </tr>
                            <tr>
                            <td style="text-align: center;">{{calmetros}}</td>
                            <td style="text-align: center;">{{calp}}</td>
                           
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>  
</dx-popup>

<dx-popup [width]="700" [height]="500" [showTitle]="true" title="{{nombreCombo}}" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisibleCombos">
    <div *dxTemplate="let data of 'content'" style="text-align: center;">
        <dx-scroll-view width="100%" height="100%">
            <div style="text-align: center;">
                <h4>Productos</h4>
            </div>
            
            <dx-data-grid #datag2 id="gridContainer" [dataSource]="productosComboLeidos" [showBorders]="true">
                <dxi-column dataField="cantidad" dataType="number" width="20%"></dxi-column>
                <dxi-column dataField="nombreProducto" caption="Producto"  dataType="string" width="60%"></dxi-column>
                <dxi-column dataField="precioVenta" caption="Precio" width="20%" dataType="number"></dxi-column>

                <dxo-paging [pageSize]="12"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>
       
    </dx-scroll-view>
    </div>
</dx-popup>
