
.transacciones{
    margin: 2em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.colbot{
    background-color: green;
}
.mover{
    text-align: right;
}

.btnSearch{
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.select{
    text-align: center;
    background-color: white;
}

::ng-deep .remiPro .dx-selectbox input {  
    text-align: center;  
}  

::ng-deep .remiPro .dx-selectbox-popup-wrapper .dx-list-item {  
    text-align: center;  
}