

 <div *ngIf="mostrarLoading">
    <app-loading></app-loading>
</div>


<div id="admin" style="display: none;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3"><h6>Sucursal</h6></div>
            <div class="col-md-4"> <dx-select-box [items]="sucursalesDefault" 
                [value]="sucursalesDefault[0]" 
                [readOnly]="false" 
                [disabled]="false"
                (onValueChanged)="asignarsucursalD($event)"></dx-select-box></div>
                <div class="col-md-5"></div>
         </div>
    </div>
    <div class="row">
        <div class="col-md-10"> <span>Administrador  </span><dx-check-box [(value)]="seleccion" (onValueChanged)="mostrarC($event)"></dx-check-box></div>  
    </div>
</div>

<div class="row alin2 titulos" style="margin-top: 1em;margin-right: 1em;">
    <div class="col-md-8"><div class="">
    </div></div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [value]="menu1[0]" 
        [readOnly]="false" 
        [disabled]="false"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
</div>




<div id="traslados" style="display: block;">
    
    <div class="row remiPro">
        <div class="col-md-12 titulo" ><h4>Traslados de Productos</h4></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><p>Nombre/Transportista</p> </div>
                <div class="col-md-6">
                    <dx-autocomplete
                            [dataSource]="transportistas"
                            placeholder=""
                            valueExpr="nombre"
                            [(value)]= "nombre_transportista"
                            (onChange)="setTransportista($event)"
                            >
                        </dx-autocomplete></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Identificación</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="identificacion" [readOnly]="false" ></dx-text-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Celular</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="celular" [readOnly]="false" ></dx-text-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Tipo/Vehículo</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="tipo_vehiculo" [readOnly]="false" ></dx-text-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Placa vehiculo transportador</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="placa" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div>
        </div>

    
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><p>ID-Traslado</p> </div>
                <div class="col-md-6" style="margin-bottom: 1em;"><dx-number-box [(value)]="id2" [readOnly]="true" class="id"></dx-number-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Sucursal de Origen</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="locales" [(value)]="sucursal_origen" [readOnly]="varL" [disabled]="false"
                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre"  (onValueChanged)="obtenerDatosSucursalOrigen($event)">
                </dx-select-box></div>

            </div>
            <div class="row" >
                <div class="col-md-6" style="padding-left: 4rem;"><p>Bodega origen</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="bodegasorigen" [value]="bodegasorigen" [readOnly]="false" [disabled]="false"
                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre"  (onValueChanged)="obtenerDatosBodegaOrigen($event)">
                </dx-select-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Sucursal Destino</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="locales2" [value]="locales2" [readOnly]="readSuc" [disabled]="false"
                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre"  (onValueChanged)="obtenerDatosSucursalDestino($event)">
                </dx-select-box></div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-left: 4rem;"><p>Bodega destino</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="bodegasdestino" [value]="bodegasdestino" [readOnly]="readSuc" [disabled]="false"
                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre"  (onValueChanged)="obtenerDatosBodegaDestino($event)">
                </dx-select-box></div>
            </div>
        
        </div>
    
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6"><p>Fecha</p> </div>
                        <div class="col-md-6">
                            <dx-date-box [(value)]="now" [type]="'date'" [showClearButton]="true"> </dx-date-box>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8"><p>Envio de mercaderia a bodega externa</p> </div>
                        <div class="col-md-4" style="margin-top: 2px;"><dx-check-box  [(value)]="bodegaExternaSeleccion" (onValueChanged)="activarBodegaExterna($event)"></dx-check-box></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"><p>Observaciones</p> </div>
                    <div class="col-md-9"><dx-text-box [(value)]="observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                </div>
        </div>
        
    </div>

    <div class="remiPro">
        <div class="detalle">
            <div class="titcent row" >
                <div class="alinearBoton col-md-4" >
                    <dx-button icon="plus" [type]="'success'" [disabled]="false" (onClick)="anadirProducto($event)">
                </dx-button>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <h6>Detalle Productos</h6>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            
            <div class="row titulosT">
                <div class="col-4">
                    <h5>Producto</h5>
                </div>
                <div class="col-2">
                    <h5>Tipo</h5>
                </div>
                
                <div class="col-1">
                    <h5>Cajas</h5>
                </div>
                <div class="col-1">
                    <h5>Piezas</h5>
                </div>
                <div class="col-3">
                    <h5>Observaciones</h5>
                </div>
                <div class="col-1">
                    <div class="row">
                        <div class="col-md-12"> <h5>Eliminar</h5></div>
                    </div>
                </div>
            
            </div>
            <div *ngFor="let p of detalleTraslados;let i = index" style="text-align: center;margin-top: 1em;">
                <div class="row altura">
                    <div class="col-4">
                    <dx-select-box  [dataSource]="productos22" [(value)]="p.producto" [readOnly]="false" [disabled]="false"
                        [searchEnabled]="true"  
                        valueExpr="PRODUCTO" displayExpr="PRODUCTO" (onValueChanged)="obtenerDetallesProducto($event,i)">
                    </dx-select-box>
                   
                    </div>
                    <div class="col-2">
                    <dx-text-box [(value)]="p.tipo" [disabled]="false" [readOnly]="true"></dx-text-box>
                    </div>
                   
                    <div class="col-1">
                        <dx-number-box [(value)]="p.cajas" [disabled]="false" [readOnly]="false" (onChange)="validarCantidad(i)"></dx-number-box>
                    </div>
                    <div class="col-1">
                        <dx-number-box [(value)]="p.piezas" [disabled]="p.desPiezas" [readOnly]="false" (onChange)="validarCantidad(i)"></dx-number-box>
                    </div>
                    <div class="col-3">
                        <dx-text-box [(value)]="p.observaciones" [disabled]="false" [readOnly]="false"></dx-text-box>
                    </div>
                    <div class="col-1" >
                        <dx-button icon="clear" color="white" class="bt" (onClick)="deleteProducto(i)"></dx-button> 
                    </div>   
                </div>
        
            </div>
        
        </div>
    </div>

    <div style="text-align: center">
        <dx-button
                        class="button-info bt2"
                        text="Guardar"
                        [disabled]="false"
                        (onClick)="validarGuardar()">
                    </dx-button>

                    
    </div>

   

</div>

<div id="existencias" class="remiPro" style="display: none;">
    <br>
    <h4>Productos sucursal matriz</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="productos"
        [showBorders]="true">
      
        <dxi-column
            dataField="PRODUCTO"
            caption="PRODUCTO"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="cantidad"
            caption="Cantidad"
            dataType="string">
        </dxi-column>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
    <br>
    <h4>Productos sucursal Jujan</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="productos2"
        [showBorders]="true">
      
        <dxi-column
            dataField="PRODUCTO"
            caption="PRODUCTO"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="cantidad"
            caption="Cantidad"
            dataType="string">
        </dxi-column>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>

<div id="historial" style="display: none;">
    <div ><h4>Traslados Enviados</h4></div>
    <dx-data-grid #datag3 id="gridContainer"
        [dataSource]="trasladosEnviados"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        <dxo-search-panel  [visible]="true"  [width]="240" placeholder="Buscar..."></dxo-search-panel>
        <dxo-export [enabled]="true" fileName="Traslados" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column dataField="_id" caption="Traslado N" dataType="string" [visible]="false" ></dxi-column>
        <dxi-column dataField="idT" caption="Traslado N" dataType="string" sortOrder="desc"> </dxi-column>
        <dxi-column dataField="fecha" caption="Fecha" dataType="string"></dxi-column>
        <dxi-column dataField="sucursal_origen.nombre" caption="Sucursal Origen" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="sucursal_destino.nombre" caption="Sucursal Destino" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="transportista.nombre" caption="Transportista" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="estado" caption="Estado" dataType="string" [visible]="true"></dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
         <dxi-column type="buttons"caption="Recibido" width="15%" [visible]="true">
            <dxi-button text="Recibido" [onClick]="getCourseRecibido"></dxi-button>   
        </dxi-column> 
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
    </dx-data-grid>



    <br>
    <div ><h4>Traslados Recibidos</h4></div>
    <dx-data-grid #datag4 id="datag4"
        [dataSource]="trasladosRecibidos"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        <dxo-search-panel  [visible]="true"  [width]="240" placeholder="Buscar..."></dxo-search-panel>
        <dxo-export [enabled]="true" fileName="Traslados" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column dataField="_id" caption="Traslado N" dataType="string" [visible]="false" ></dxi-column>
        <dxi-column dataField="idT" caption="Traslado N" dataType="string" sortOrder="desc"> </dxi-column>
        <dxi-column dataField="fecha" caption="Fecha" dataType="string"></dxi-column>
        <dxi-column dataField="sucursal_origen.nombre" caption="Sucursal Origen" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="sucursal_destino.nombre" caption="Sucursal Destino" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="transportista.nombre" caption="Transportista" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="estado" caption="Estado" dataType="string" [visible]="true"></dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        <dxi-column type="buttons"    dataField="bt2"  caption="Eliminar" width="10%" [visible]="true">
            <dxi-button icon="clear" [onClick]="getCourseFile3"></dxi-button>   
        </dxi-column>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
    </dx-data-grid>

    <br>
    <br>
    <br>
    
    <div id="admin1" style="display: block;">
        <div><h4>Traslados Pendientes de Eliminación</h4></div>
        <dx-data-grid 
            id="gridContainer"
            [dataSource]="trasladosGR"
            [showBorders]="true">
            <dxo-filter-row 
            [visible]="true" ></dxo-filter-row>
            <dxo-search-panel 
            [visible]="true" 
            [width]="240" 
            placeholder="Buscar..."></dxo-search-panel>
            <dxo-export [enabled]="true" fileName="TrasladosAnulados" [allowExportSelectedData]="true"></dxo-export>
            <dxi-column
                dataField="_id"
                caption="Traslado N"
                dataType="string"
                [visible]="false" >
            </dxi-column>
            <dxi-column
                dataField="idT"
                caption="Traslado N"
                dataType="string">
            </dxi-column>
            <dxi-column
                dataField="fecha"
                caption="Fecha"
                dataType="string">
            </dxi-column>
            <dxi-column
                dataField="sucursal_origen.nombre"
                caption="Sucursal Origen"
                dataType="string"
                [visible]="true">
            </dxi-column>
            <dxi-column
                dataField="sucursal_destino.nombre"
                caption="Sucursal Destino"
                dataType="string"
                [visible]="true">
            </dxi-column>
            <dxi-column
                dataField="transportista.nombre"
                caption="Transportista"
                dataType="string"
                [visible]="true">
            </dxi-column>
            <dxi-column type="buttons"    dataField="bt2"  caption="Eliminar" width="15%" [visible]="true">
                <dxi-button icon="clear" [onClick]="getCourseFile4"></dxi-button>   
            </dxi-column>
            <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
                <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
            </dxi-column>
            <dxo-paging [pageSize]="12"></dxo-paging>
            <dxo-pager
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[8, 12, 20]"
            ></dxo-pager>
        </dx-data-grid>
    </div>
    


    <br>
    <div ><h4>Traslados Eliminados</h4></div>
    <dx-data-grid #datag4 id="datag4"
        [dataSource]="trasladosEliminados"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        <dxo-search-panel  [visible]="true"  [width]="240" placeholder="Buscar..."></dxo-search-panel>
        <dxo-export [enabled]="true" fileName="Traslados" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column dataField="_id" caption="Traslado N" dataType="string" [visible]="false" ></dxi-column>
        <dxi-column dataField="idT" caption="Traslado N" dataType="string" sortOrder="desc"> </dxi-column>
        <dxi-column dataField="fecha" caption="Fecha" dataType="string"></dxi-column>
        <dxi-column dataField="sucursal_origen.nombre" caption="Sucursal Origen" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="sucursal_destino.nombre" caption="Sucursal Destino" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="transportista.nombre" caption="Transportista" dataType="string" [visible]="true"></dxi-column>
        <dxi-column dataField="estado" caption="Estado" dataType="string" [visible]="true"></dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]"></dxo-pager>
    </dx-data-grid>

</div>