
<div class="row remiPro titulos">
    <div class="col-md-8"><div class="">
        
    </div></div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [value]="menu1[0]" 
        [readOnly]="false" 
        [disabled]="false"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
</div>


<div id="user" class="remiPro" style="display: block;">
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="invetarioP"
        [showBorders]="true"
        (onExporting)="onExporting2($event)"
        (onExported)="onExported2($event)">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Inventario Productos" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="producto.PRODUCTO"
            caption="Producto"
            dataType="string"
            sortOrder="asc"
            width="30%" >
        </dxi-column>
        <dxi-column
            dataField="producto.precio"
            caption="Valor Unitario"
            dataType="currency"
            [visible]="false" >
        </dxi-column>
        <dxi-column
            dataField="producto.CLASIFICA"
            caption="Grupo"
            dataType="string"
            sortOrder="asc"
            width="15%"
            [visible]="false">
        </dxi-column>
        <dxi-column caption="Matriz"  dataField="sucursal1">
            <dxi-column
                dataField="cantidadCajas"
                caption="Cajas"
                dataType="number"
                class="d2">
            </dxi-column>
            <dxi-column
                dataField="cantidadPiezas"
                caption="Piezas"
                dataType="number">
            </dxi-column>
            <dxi-column
                dataField="cantidadM2"
                caption="m2/unidad"
                dataType="number"
                [visible]="true">
            </dxi-column>
            <dxi-column
                dataField="totalb1"
                caption="Total"
                format="currency"
                [visible]="false"
                width="10%">
            </dxi-column>
         </dxi-column>

         <dxi-column caption="Sucursal 1">
            <dxi-column
                dataField="cantidadCajas2"
                caption="Cajas"
                dataType="number">
            </dxi-column>
            <dxi-column
                dataField="cantidadPiezas2"
                caption="Piezas"
                dataType="number">
            </dxi-column>
            <dxi-column
                 dataField="cantidadM2b2"
                caption="m2/unidad"
                dataType="number"
                [visible]="true">
            </dxi-column>
            <dxi-column
                dataField="totalb2"
                caption="Total"
                valueFormat="currency"
               
                [visible]="false"
                width="10%">
            </dxi-column>
         </dxi-column>

         <dxi-column caption="Sucursal 2">
            <dxi-column
                dataField="cantidadCajas3"
                caption="Cajas"
                dataType="number">
            </dxi-column>
            <dxi-column
                dataField="cantidadPiezas3"
                caption="Piezas"
                dataType="number">
            </dxi-column>
            <dxi-column
                 dataField="cantidadM2b3"
                caption="m2/unidad"
                dataType="number"
                [visible]="true">
            </dxi-column>
            <dxi-column
                dataField="totalb3"
                caption="Total"
                valueFormat="currency"
                
                [visible]="false"
                width="10%">
            </dxi-column>
         </dxi-column>
         <dxi-column type="buttons" dataField="bt1" caption="Ubicación" width="7%">
            <dxi-button hint="Ubicación Geográfica" icon="fa fa-map-marker" [onClick]="mostrarUbicacion"></dxi-button>
        </dxi-column>
        <dxi-column
                dataField="bodega"
                caption="Bodegas"
                dataType="string"
                [visible]="false">
            </dxi-column>
        
        
        <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>

<div id="admin" class="remiPro" style="display: none;">
    
        <dx-data-grid #datag2
            id="gridContainer"
            [dataSource]="invetarioP"
            [showBorders]="true"
            (onExporting)="onExporting($event)"
            (onExported)="onExported($event)">
            <dxo-filter-row 
            [visible]="true" ></dxo-filter-row>
            
            <dxo-search-panel 
            [visible]="true" 
            [width]="240" 
            placeholder="Buscar..."></dxo-search-panel>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
            <dxo-export [enabled]="true" fileName="Inventario Productos" [allowExportSelectedData]="true"></dxo-export>
            <dxi-column
                dataField="producto.PRODUCTO"
                caption="Producto"
                dataType="string"
                sortOrder="asc"
                width="30%" >
            </dxi-column>
            <dxi-column
                dataField="producto.precio"
                caption="Valor Unitario"
                dataType="currency"
                [visible]="false" >
            </dxi-column>
            <dxi-column
                dataField="producto.CLASIFICA"
                caption="Grupo"
                dataType="string"
                sortOrder="asc"
                width="15%"
                [visible]="false">
            </dxi-column>
            <dxi-column caption="Matriz"  dataField="sucursal1">
                <dxi-column
                    dataField="cantidadCajas"
                    caption="Cajas"
                    dataType="number"
                    class="d2">
                </dxi-column>
                <dxi-column
                    dataField="cantidadPiezas"
                    caption="Piezas"
                    dataType="number">
                </dxi-column>
                <dxi-column
                    dataField="cantidadM2"
                    caption="m2/unidad"
                    dataType="number"
                    [visible]="false">
                </dxi-column>
               
                <dxi-column
                    dataField="totalb1"
                    caption="Total"
                    format="currency"
                    visible="true"
                    width="10%">
                </dxi-column>
             </dxi-column>

             <dxi-column caption="Sucursal 1">
                <dxi-column
                    dataField="cantidadCajas2"
                    caption="Cajas"
                    dataType="number">
                </dxi-column>
                <dxi-column
                    dataField="cantidadPiezas2"
                    caption="Piezas"
                    dataType="number">
                </dxi-column>
                <dxi-column
                     dataField="cantidadM2b2"
                    caption="m2/unidad"
                    dataType="number"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="totalb2"
                    caption="Total"
                    format="currency"
                    visible="true"
                    width="10%">
                </dxi-column>
             </dxi-column>

             <dxi-column caption="Sucursal 2">
                <dxi-column
                    dataField="cantidadCajas3"
                    caption="Cajas"
                    dataType="number">
                </dxi-column>
                <dxi-column
                    dataField="cantidadPiezas3"
                    caption="Piezas"
                    dataType="number">
                </dxi-column>
                <dxi-column
                     dataField="cantidadM2b3"
                    caption="m2/unidad"
                    dataType="number"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="totalb3"
                    caption="Total"
                    format="currency"
                    visible="true"
                    width="10%">
                </dxi-column>
             </dxi-column>
             <dxi-column
                dataField="bodega"
                caption="Bodegas"
                dataType="string"
                [visible]="false">
            </dxi-column>
             <dxo-summary>
              
                <dxi-total-item
                    column="totalb1"
                    valueFormat="currency"
                    displayFormat="{0}"
                    summaryType="sum"
                    alignment="right"
                    >
                </dxi-total-item>
                <dxi-total-item
                    column="totalb2"
                    valueFormat="currency"
                    displayFormat="{0}"
                    summaryType="sum"
                    alignment="right">
                </dxi-total-item>
                <dxi-total-item
                    column="totalb3"
                    valueFormat="currency"
                    displayFormat="{0}"
                    summaryType="sum"
                    alignment="right">
                </dxi-total-item>
              <!--   <div class="col-4">
                    <dx-select-box [items]="productos" [(value)]="p.REFERENCIA" [readOnly]="false" [disabled]="false"
                    [searchEnabled]="true"  (onValueChanged)="obtenerDatosDeProductoParaUnDetalle($event, i)" 
                    valueExpr="PRODUCTO" displayExpr="PRODUCTO" hint="hh">
                </dx-select-box>
                </div> -->
               <!--  <dxi-group-item
                    column="totalb2"
                    summaryType="sum"
                    valueFormat="currency"
                    displayFormat="Total: {0}"
                    [showInGroupFooter]="true">
                </dxi-group-item> -->
            </dxo-summary>
            
            <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
            <dxo-paging [pageSize]="12"></dxo-paging>
            <dxo-pager
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[8, 12, 20]"
            ></dxo-pager>
        </dx-data-grid>
        

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><button class="btn btn-block btn-success " (click)="mensajeActualizar()">Actualizar Productos</button></div>
            <div class="col-md-4"></div>
        </div>

        


        <!-- <h2>Productos Facturados Pendientes de entregar</h2>
   <dx-data-grid id="gridContainer"
    [dataSource]="invetarioFaltante"
    [showBorders]="true"
    [remoteOperations]="true">
    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
       
    <dxi-column
        dataField="producto.PRODUCTO"
        caption="Producto"
        dataType="string"
        sortOrder="desc">
    </dxi-column>
    <dxi-column
        dataField="cantidadCajas"
        caption="Cajas"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="cantidadPiezas"
        caption="Piezas"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="cantidadM2"
        caption="M2"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="totalb1"
        caption="Total"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="sucursal"
        dataType="string">
    </dxi-column>
    <dxi-column dataField="sucursal" [groupIndex]="0"></dxi-column>
    <dxo-grouping #expand [autoExpandAll]="true">
    </dxo-grouping>
    
    
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid> 


    <dx-data-grid id="gridContainer"
        [dataSource]="productosPendientesNoEN"
        [showBorders]="true"
        [remoteOperations]="true">
        <dxo-search-panel 
            [visible]="true" 
            [width]="240" 
            placeholder="Buscar..."></dxo-search-panel>
        <dxi-column
            dataField="producto.PRODUCTO"
            caption="Producto"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="cajas"
            caption="Cajas"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="piezas"
            caption="Piezas"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="cantM2"
            caption="M2"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="total"
            caption="Total"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="sucursal"
            dataType="string">
        </dxi-column>
        <dxi-column dataField="sucursal" [groupIndex]="0"></dxi-column>
        <dxo-grouping #expand [autoExpandAll]="true">
        </dxo-grouping>


        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid> -->

</div>

<dx-popup [width]="600" [height]="450" [showTitle]="true" title="Ubicación {{nameProducto}}" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="col-md-12">
            <div class="row espacio">
                <div class="col-md-10" style="text-align: center;padding-top: 0.5em;"><h6>Matriz</h6> </div>
                <div class="col-md-2"><span style="text-align: right;"><button class="btn3" type="button"
                    (click)="nuevaUbicacion1()"> + </button></span></div>
                <table>
                    <tr>
                        <th class="text-center" >Ubicación</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    <tr *ngFor="let ubi1 of arregloUbicaciones1; let id = index">
                        <td style="text-align: center;width: 85%;">
                            <span contenteditable="true" (blur)="modificar1(id, $event)" >{{ubi1}}</span>
                        </td>
                        <td style="text-align: center;width: 15%;">
                            <button class="btn btn-primary btn-xs" (click)="eliminar1(id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        
                    </tr>
                </table>
                
            </div>
            <div class="row espacio" style="margin-top: 3em;">
                <div class="col-md-10" style="text-align: center;padding-top: 0.5em;"><h6>Sucursal 1 </h6> </div>
                <div class="col-md-2"><span style="text-align: right;"><button class="btn3" type="button"
                    (click)="nuevaUbicacion2()"> + </button></span></div>
                <table>
                    <tr>
                        <th class="text-center" >Ubicación</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    <tr *ngFor="let ubi1 of arregloUbicaciones2; let id = index">
                        <td style="text-align: center;width: 85%;">
                            <span contenteditable="true" (blur)="modificar2(id, $event)" >{{ubi1}}</span>
                        </td>
                        <td style="text-align: center;width: 15%;">
                            <button class="btn btn-primary btn-xs" (click)="eliminar2(id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        
                    </tr>
                </table>
            </div>
            <div class="row espacio" style="margin-top: 3em;">
                <div class="col-md-10" style="text-align: center;padding-top: 0.5em;"><h6>Sucursal 2</h6> </div>
                <div class="col-md-2"><span style="text-align: right;"><button class="btn3" type="button"
                    (click)="nuevaUbicacion3()"> + </button></span></div>
                <table>
                    <tr>
                        <th class="text-center" >Ubicación</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    <tr *ngFor="let ubi1 of arregloUbicaciones3; let id = index">
                        <td style="text-align: center;width: 85%;">
                            <span contenteditable="true" (blur)="modificar3(id, $event)" >{{ubi1}}</span>
                        </td>
                        <td style="text-align: center;width: 15%;">
                            <button class="btn btn-primary btn-xs" (click)="eliminar3(id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button class="btn btn2" type="button"
                        (click)="actualizarUbicaciones()">Actualizar</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <!-- <p>
            Position:
            <span>{{currentEmployee.Position}}</span>
        </p> -->
    </dx-scroll-view>
    </div>
</dx-popup>