<div class="row" *ngIf="mostrarBloqueo"></div>

<div *ngIf="!mostrarBloqueo">
    <div class="row alin2 titulos" style="margin-top: 1em;margin-right: 1em;">
        <div class="col-md-8"></div>
        <div class="col-md-4"> 
            <dx-select-box [items]="menu1" 
                [value]="menu1[0]" 
                [readOnly]="false" 
                [disabled]="false"
                class="form-control select"
                (onValueChanged)="opcionMenu($event)">
            </dx-select-box>
        </div>
    </div>

    <div *ngIf="mostrarLoading">
        <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
    </div>


    <div class="remiPro">
        <div *ngIf="mostrarOrdenesCompraGenerales">
            <div class="card">
                <h5 class="card-header text-center font-weight-bold text-uppercase ">ORDENES COMPRA GENERADAS</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                            <div class="row card">
                                <div class="col-md-12"> 
                                    <div class="row">
                                        <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowdesde"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowhasta"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerTransaccionesPorRango(1)">Buscar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>        
                                </div>
                            </div>                
                        </div>
                        
                        <div class="col-md-4 " style="margin-left: 1em;">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                            <div class="row card">
                                <br><br>
                                <div class="col-md-12"> 
                                    <div class="row">  
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerOrdenesCompra()">Buscar Todos</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>        
                                </div>
                                <br>
                            </div>         

                        </div>
                        <div class="col-md-2"></div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="dx-field radio">
                            <div class="dx-field-value">
                                <dx-radio-group
                                [items]="tiposOrdenesCompra"
                                [(value)]="tipoOrdenCompra"
                                layout="horizontal"
                                (onValueChanged)="opcionRadioTipos($event)">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <dx-data-grid id="gridContainer"
                [dataSource]="ordenesCompraGenerales"
                [showBorders]="true"
                [remoteOperations]="true">
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxi-column dataField="_id" caption="N° Orden" dataType="string" [visible]="false"></dxi-column>
                <dxi-column dataField="n_orden" caption="N° Orden" dataType="string" sortOrder="desc"></dxi-column>
                <dxi-column dataField="documento" caption="Solicitud #" dataType="string"></dxi-column>
                <dxi-column dataField="sucursal.nombre" caption="Sucursal" dataType="string"></dxi-column>
                <dxi-column dataField="proveedor.nombre_proveedor" caption="Proveedor" dataType="string"></dxi-column>
                <dxi-column dataField="msjGeneral" caption="Motivo de Anulación" [width]="30+'%'" dataType="string" *ngIf="mostrarMotivo"></dxi-column>
                <dxi-column dataField="total" dataType="number"></dxi-column>
                <dxi-column type="buttons"  caption="Ver">
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons" caption="Anular" id="botones" *ngIf="mostrarAnulacion1">
                    <dxi-button icon="clear" [onClick]="anularOrden"></dxi-button>
                </dxi-column> 
                <dxi-column type="buttons" caption="Aprobar Anul." id="botones" *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-check" [onClick]="anularOrden2"></dxi-button>
                </dxi-column>        
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
            </dx-data-grid>
        </div>


        <div *ngIf="mostrarOrdenesCompraDirectas">
            <div class="card">
                <h5 class="card-header text-center font-weight-bold text-uppercase ">ORDENES COMPRAS DIRECTAS GENERADAS</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                            <div class="row card">
                                <div class="col-md-12"> 
                                    <div class="row">
                                        <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowdesde"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowhasta"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerTransaccionesPorRango(1)">Buscar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>        
                                </div>
                            </div>                
                        </div>
                        
                        <div class="col-md-4 " style="margin-left: 1em;">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                            <div class="row card">
                                <br><br>
                                <div class="col-md-12"> 
                                    <div class="row">  
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerOrdenesCompra()">Buscar Todos</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>        
                                </div>
                                <br>
                            </div>         

                        </div>
                        <div class="col-md-2"></div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="dx-field radio">
                            <div class="dx-field-value">
                                <dx-radio-group
                                [items]="tiposOrdenesCompraDirectas"
                                [(value)]="tipoOrdenCompraDirecta"
                                layout="horizontal"
                                (onValueChanged)="opcionRadioTiposDirectas($event)">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <dx-data-grid id="gridContainer"
                [dataSource]="ordenesCompraGeneralesDirectas"
                [showBorders]="true"
                [remoteOperations]="true">
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxi-column dataField="_id" caption="N° Orden" dataType="string" [visible]="false"></dxi-column>
                <dxi-column dataField="n_orden" caption="N° Orden" dataType="string" sortOrder="desc"></dxi-column>
                <dxi-column dataField="documento" caption="Solicitud #" dataType="string"></dxi-column>
                <dxi-column dataField="sucursal.nombre" caption="Sucursal" dataType="string"></dxi-column>
                <dxi-column dataField="proveedor.nombre_proveedor" caption="Proveedor" dataType="string"></dxi-column>
                <dxi-column dataField="msjGeneral" caption="Motivo de Anulación" [width]="30+'%'" dataType="string" *ngIf="mostrarMotivo"></dxi-column>
                <dxi-column dataField="total" dataType="number"></dxi-column>
                <dxi-column type="buttons"  caption="Ver">
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons" caption="Anular" id="botones" *ngIf="mostrarAnulacion1">
                    <dxi-button icon="clear" [onClick]="anularOrden"></dxi-button>
                </dxi-column> 
                <dxi-column type="buttons" caption="Aprobar Anul." id="botones" *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-check" [onClick]="anularOrdenDirecta"></dxi-button>
                </dxi-column>        
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
            </dx-data-grid>      
        </div>


        <div *ngIf="mostrarFacturas">
            <div class="card">
                <h5 class="card-header text-center font-weight-bold text-uppercase ">FACTURAS GENERADAS</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                            <div class="row card">
                                <div class="col-md-12"> 
                                    <div class="row">
                                        <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowdesde"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowhasta"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerTransaccionesPorRango(2)">Buscar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>        
                                </div>
                            </div>                
                        </div>
                        
                        <div class="col-md-4 " style="margin-left: 1em;">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                            <div class="row card">
                                <br><br>
                                <div class="col-md-12"> 
                                    <div class="row">  
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerFacturas()">Buscar Todos</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>        
                                </div>
                                <br>
                            </div>         
                        </div>
                        <div class="col-md-2"></div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="dx-field radio">
                            <div class="dx-field-value">
                                <dx-radio-group
                                [items]="tiposFacturas"
                                [(value)]="tipoFactura"
                                layout="horizontal"
                                (onValueChanged)="opcionRadioTiposFacturas($event)">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <dx-data-grid id="gridContainer"
                [dataSource]="facturasGenerales"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-search-panel [visible]="true" [width]="240"  placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Facturas_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxi-column dataField="_id" caption="N° Orden" dataType="string" [visible]="false"></dxi-column>
                <dxi-column dataField="documento_n" caption="Factura #" dataType="string" sortOrder="desc"></dxi-column>
                <dxi-column dataField="fecha2" caption="Fecha" dataType="string"></dxi-column>
                <dxi-column dataField="cotizacion" caption="Cotización" dataType="string"></dxi-column>
                <dxi-column dataField="sucursal" caption="Sucursal" dataType="string" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="cliente.cliente_nombre" caption="Cliente" dataType="string"></dxi-column>
                <dxi-column dataField="cliente.ruc" caption="Cliente" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="tipo_venta" caption="Tipo Venta" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="tipo_cliente" caption="Tipo Cliente" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="coste_transporte" caption="Transporte" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="totalIva" caption="Iva" dataType="number" [visible]=false></dxi-column>
                <dxi-column dataField="total" caption="Total" dataType="number" [visible]=true></dxi-column>
                <dxi-column dataField="username" caption="Vendedor" dataType="string" [visible]=true></dxi-column>
                <dxi-column dataField="mensaje" caption="Motivo de Anulación" dataType="string" [visible]=true *ngIf="mostrarMotivo"></dxi-column>
                <dxi-column dataField="username" caption="Usuario" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="observaciones" caption="Observaciones" dataType="string" [visible]=false></dxi-column>
                <dxi-column type="buttons"  caption="Ver" >
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile4"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons"  caption="Anular" *ngIf="mostrarAnulacion1">
                    <dxi-button icon="clear" [onClick]="anularFactura"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Aprobar Anul." *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-check" [onClick]="eliminarFactura"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Rechazar" *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-reply" [onClick]="rechazarAnulFact"></dxi-button>    
                </dxi-column>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,30]"></dxo-pager>
            </dx-data-grid>            
        </div>

        <div *ngIf="mostrarNotasVenta">
            <div class="card">
                <h5 class="card-header text-center font-weight-bold text-uppercase ">FACTURAS GENERADAS</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                            <div class="row card">
                                <div class="col-md-12"> 
                                    <div class="row">
                                        <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowdesde"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                                        <div class="col-md-9">
                                        <dx-date-box
                                            [(value)]="nowhasta"
                                            type="date">
                                        </dx-date-box>
                                        </div>

                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerTransaccionesPorRango(3)">Buscar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>        
                                </div>
                            </div>                
                        </div>
                        
                        <div class="col-md-4 " style="margin-left: 1em;">
                            <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                            <div class="row card">
                                <br><br>
                                <div class="col-md-12"> 
                                    <div class="row">  
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 btnSearch">
                                            <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerNotasVenta()">Buscar Todos</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>        
                                </div>
                                <br>
                            </div>         
                        </div>
                        <div class="col-md-2"></div>
                    </div>   
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="dx-field radio">
                            <div class="dx-field-value">
                                <dx-radio-group
                                [items]="tiposNotasVenta"
                                [(value)]="tipoNotaVenta"
                                layout="horizontal"
                                (onValueChanged)="opcionRadioTiposNotaVenta($event)">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <dx-data-grid id="gridContainer"
                [dataSource]="notasVentaGenerales"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-search-panel [visible]="true" [width]="240"  placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Facturas_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxi-column dataField="_id" caption="N° Orden" dataType="string" [visible]="false"></dxi-column>
                <dxi-column dataField="documento_n" caption="Factura #" dataType="string" sortOrder="desc"></dxi-column>
                <dxi-column dataField="fecha2" caption="Fecha" dataType="string"></dxi-column>
                <dxi-column dataField="cotizacion" caption="Cotización" dataType="string"></dxi-column>
                <dxi-column dataField="sucursal" caption="Sucursal" dataType="string" [groupIndex]="0"></dxi-column>
                <dxi-column dataField="cliente.cliente_nombre" caption="Cliente" dataType="string"></dxi-column>
                <dxi-column dataField="cliente.ruc" caption="Cliente" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="tipo_venta" caption="Tipo Venta" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="tipo_cliente" caption="Tipo Cliente" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="coste_transporte" caption="Transporte" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="totalIva" caption="Iva" dataType="number" [visible]=false></dxi-column>
                <dxi-column dataField="total" caption="Total" dataType="number" [visible]=true></dxi-column>
                <dxi-column dataField="username" caption="Vendedor" dataType="string" [visible]=true></dxi-column>
                <dxi-column dataField="mensaje" caption="Motivo de Anulación" dataType="string" [visible]=true *ngIf="mostrarMotivo"></dxi-column>
                <dxi-column dataField="username" caption="Usuario" dataType="string" [visible]=false></dxi-column>
                <dxi-column dataField="observaciones" caption="Observaciones" dataType="string" [visible]=false></dxi-column>
                <dxi-column type="buttons"  caption="Ver" >
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile2"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons"  caption="Anular" *ngIf="mostrarAnulacion1">
                    <dxi-button icon="clear" [onClick]="anularNotaVenta"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Aprobar Anul." *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-check" [onClick]="eliminarNotaVenta"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Rechazar" *ngIf="mostrarAnulacion2">
                    <dxi-button icon="fa fa-reply" [onClick]="rechazarAnulNOT"></dxi-button>    
                </dxi-column>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,30]"></dxo-pager>
            </dx-data-grid>       
        </div>          
    </div>
</div>

<!-- 1325 -->
