<div class="row alin2 titulos" style="margin-top: 1em;margin-right: 1em;">
    <div class="col-md-8"><div class="">
    </div></div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [value]="menu1[0]" 
        [readOnly]="false" 
        [disabled]="false"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
</div>




<div  class="remiPro">

    <div id="ordenes" style="display: block;">
        <p>Esto de aqui verá el usuario</p>
        <div style="text-align: center;"><h4>Ordenes de Compras Pendientes</h4></div>
    
        <dx-data-grid id="gridContainer"
        [dataSource]="ordenesCompraPendientes"
        [showBorders]="true"
        [remoteOperations]="true">
        <dxo-search-panel 
            [visible]="true" 
            [width]="240" 
            placeholder="Buscar..."></dxo-search-panel>
        <dxi-column
            dataField="_id"
            caption="N° Orden"
            dataType="string"
            [visible]="false">
        </dxi-column>
        <dxi-column
            dataField="n_orden"
            caption="N° Orden"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="documento"
            caption="Solicitud #"
            dataType="string"
           >
        </dxi-column>
        <dxi-column
            dataField="sucursal.nombre"
            caption="Sucursal"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="proveedor.nombre_proveedor"
            caption="Proveedor"
            dataType="string">
        </dxi-column>
       
        <dxi-column
            dataField="total"
            dataType="string">
        </dxi-column>
        <dxi-column type="buttons"  caption="Ver">
            
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>
          
               
        </dxi-column>
        <dxi-column type="buttons" caption="Opciones" id="botones">
            <dxi-button text="Anular" [onClick]="anularOrden"></dxi-button>
        </dxi-column>
        
        <dxo-grouping #expand [autoExpandAll]="true">
        </dxo-grouping>
        
        
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
    
    <p>Esto de aqui verá el admin</p>
    <div style="text-align: center;"><h4>Ordenes de Compras Pendientes de Anulación</h4></div>
    
        <dx-data-grid id="gridContainer"
        [dataSource]="ordenesCompraPendientesAnulacion"
        [showBorders]="true"
        [remoteOperations]="true">
        <dxo-search-panel 
            [visible]="true" 
            [width]="240" 
            placeholder="Buscar..."></dxo-search-panel>
        <dxi-column
            dataField="_id"
            caption="N° Orden"
            dataType="string"
            [visible]="false">
        </dxi-column>
        <dxi-column
            dataField="n_orden"
            caption="N° Orden"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="documento"
            caption="Solicitud #"
            dataType="string"
           >
        </dxi-column>
        <dxi-column
            dataField="sucursal.nombre"
            caption="Sucursal"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="proveedor.nombre_proveedor"
            caption="Proveedor"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="total"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="msjGeneral"
            caption="Motivo de Anulación"
            [width]="30+'%'"
            dataType="string">
        </dxi-column>
        <dxi-column type="buttons"  caption="Ver">
            
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>
          
               
        </dxi-column>
        <dxi-column type="buttons" caption="Opciones" id="botones">
           <!--  <dxi-button text="Aprobar" [onClick]="aceptarOrden"></dxi-button> -->
            <dxi-button text="Anular" [onClick]="anularOrden2"></dxi-button>
            <!-- <dxi-button text="Rechazar" [onClick]="rechazarOrden"></dxi-button> -->
            
        </dxi-column>
        
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
    
      
        
    </div>

    <div id="facturas" style="display: none;">
        <div>
            <br>
            <h4>Facturas</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="facturasAP"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Facturas_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxi-column
                    dataField="_id"
                    caption="N° Orden"
                    dataType="string"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" >
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile4"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" >
                    <dxi-button text="Anular" [onClick]="anularFactura"></dxi-button>    
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>
        </div>    


        <div>
            <br>
            <h4>Facturas Pendientes de Anulación</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="facturasPEN"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Facturas_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxi-column
                    dataField="_id"
                    caption="N° Orden"
                    dataType="string"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="mensaje"
                    caption="Motivo de Anulación"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" >
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile4"></dxi-button>
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" width="15%">
                    <dxi-button text="Anular" [onClick]="eliminarFactura"></dxi-button>    
                    <dxi-button text="Rechazar" [onClick]="rechazarAnulFact"></dxi-button>    
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>
        </div>   

        <div>
            <br>
            <h4>Facturas Eliminadas</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="facturasELI"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Facturas_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxi-column
                    dataField="_id"
                    caption="N° Orden"
                    dataType="string"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" >
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile4"></dxi-button>
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>
        </div>  
    </div>

    <div id="notas" style="display: none;">
        <div>
            <br>
            <h4>Notas de Venta</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="notasVentaAP"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-export [enabled]="true" fileName="NotasVenta_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                    <dxi-column
                        dataField="_id"
                        caption="N° Orden"
                        dataType="string"
                        [visible]="false">
                    </dxi-column>    
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Ver">
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile2"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" >
                    <dxi-button text="Anular" [onClick]="anularNotaVenta"></dxi-button>    
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>



            <h4>Notas de Venta Pendientes de Anulación</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="notasVentaPEN"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-export [enabled]="true" fileName="NotasVenta_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                <dxi-column
                    dataField="_id"
                    caption="N° Orden"
                    dataType="string"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="mensaje"
                    caption="Motivo de Anulación"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Ver">
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile2"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons"  caption="Opciones" width="15%">
                    <dxi-button text="Anular" [onClick]="eliminarNotaVenta"></dxi-button>    
                    <dxi-button text="Rechazar" [onClick]="rechazarAnulNOT"></dxi-button>    
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>


            <h4>Notas de Venta Eliminadas</h4>
            <dx-data-grid id="gridContainer"
                [dataSource]="notasVentaELI"
                [showBorders]="true"
                [remoteOperations]="true"
                (onExporting)="onExporting($event)"
                (onExported)="onExported($event)">
                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                <dxo-export [enabled]="true" fileName="NotasVenta_ingresadas" [allowExportSelectedData]="true"></dxo-export>
                <dxo-search-panel 
                    [visible]="true" 
                    [width]="240" 
                    placeholder="Buscar..."></dxo-search-panel>
                <dxi-column
                    dataField="_id"
                    caption="N° Orden"
                    dataType="string"
                    [visible]="false">
                </dxi-column>
                <dxi-column
                    dataField="documento_n"
                    caption="Factura #"
                    dataType="string"
                    sortOrder="desc">
                </dxi-column>
                <dxi-column
                    dataField="fecha2"
                    caption="Fecha"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cotizacion"
                    caption="Cotización"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="sucursal"
                    caption="Sucursal"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.cliente_nombre"
                    caption="Cliente"
                    dataType="string">
                </dxi-column>
                <dxi-column
                    dataField="cliente.ruc"
                    caption="Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_venta"
                    caption="Tipo Venta"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="tipo_cliente"
                    caption="Tipo Cliente"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="coste_transporte"
                    caption="Transporte"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="totalIva"
                    caption="Iva"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="total"
                    caption="Total"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Vendedor"
                    dataType="string"
                    [visible]=true>
                </dxi-column>
                <dxi-column
                    dataField="username"
                    caption="Usuario"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column
                    dataField="observaciones"
                    caption="Observaciones"
                    dataType="string"
                    [visible]=false>
                </dxi-column>
                <dxi-column type="buttons"  caption="Ver">
                    <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile2"></dxi-button>    
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[8, 12, 20]"
                ></dxo-pager>
            </dx-data-grid>
        </div>
    </div>
    
        
    </div>