

<!-- <div class="row" *ngIf="mostrarBloqueo"></div>
 -->



<!-- <div  *ngIf="!mostrarBloqueo"> -->

<div *ngIf="mostrarLoading">
    <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
</div>


<div *ngIf="mostrarCreacion">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8"> </div>
            <div class="col-md-4" style="text-align: right;"> <dx-select-box [items]="menuGlobal" 
                [value]="menuGlobal[0]" 
                [readOnly]="false" 
                [disabled]="false"
                class="form-control select"
                (onValueChanged)="opcionMenu($event)"
                ></dx-select-box></div>
                <div class="col-md-5"></div>
        </div>
    </div>
    <br><br>

    <div class="card mb-3">
        <h5 class="card-header text-center font-weight-bold text-uppercase ">CONTROL DE INVENTARIO</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div *ngIf="newAud">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <div class="row">
                                    <br><br>
                                    <div class="col-md-4" style="padding-top: 0.7em;">Fecha</div>
                                    <div class="col-md-8"><dx-date-box [(value)]="fecha_inicio" [disabled]="false" [readOnly]="true"></dx-date-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Responsable</div>
                                    <div class="col-md-8"><dx-text-box [(value)]="newControlInventario.responsable" [disabled]="false" [readOnly]="false"></dx-text-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Sucursal</div>
                                    <div class="col-md-8"><dx-select-box [items]="locales" [(value)]="nameSucursal" [readOnly]="false" [disabled]="false"
                                        [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre">
                                    </dx-select-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Grupo Producto</div>
                                    <div class="col-md-8"><dx-select-box [items]="listaClasificacion" [(value)]="nombreClasificacion" [readOnly]="false" [disabled]="false"
                                        [searchEnabled]="true" valueExpr="nombreClasificacion" displayExpr="nombreClasificacion">
                                    </dx-select-box></div>                                  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br>
                                <div style="text-align: center;">CONSECUTIVO</div>
                                <div style="text-align: center;font-size: 4rem;margin-top: -1rem;">{{newControlInventario.idDocumento}}</div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                    <button class="btn btn-block btn-success espacio" style="background-color: #ff5722;border-color: #ff5722;" (click)="guardarRegistro()">Registrar</button>
                                    <br>
                                    <br>
                                    <br>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <h5 class="card-header text-center font-weight-bold text-uppercase ">Revisiones en Proceso</h5>
                                        <div class="card-body">
                                        <div class="table-editable">
                                            <span class="table-add float-right mb-3 mr-2">
                                            <a class="text-success" >
                                            
                                            </a>
                                            </span>
                                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                            <tr>
                                                <th class="text-center" >ID</th>
                                                <th class="text-center">Responsable</th>
                                                <th class="text-center" >Sucursal</th>
                                                <th class="text-center" >Grupo</th>
                                                <th class="text-center" >Ver Lista</th>
                                                <th class="text-center" >Enviar</th>
                                                <th class="text-center" >Copiar</th>
                                                <!-- <th class="text-center" colspan="2" >Acciones</th> -->
                                                
                                            </tr>
                                            
                                            <tr *ngFor="let revision of listadoRevisionesIniciadas; let id = index">
                                                <td><span>{{revision.idDocumento}}</span></td>
                                                <td><span>{{revision.responsable}}</span></td>
                                                <td><span>{{revision.sucursal}}</span></td>
                                                <td><span>{{revision.nombreClasificacion}}</span></td>
                                                <td>
                                                <span><button class="btnIcons5" (click)="verLista(revision.idDocumento)"><i class="fa fa-list fa-1x"></i></button></span>
                                                </td>
                                                <td>
                                                <span><button class="btnIcons5" (click)="enviarMsjWhatsapp(revision)"><i class="fa fa-whatsapp"></i></button></span>
                                                </td>
                                                <td>
                                                <span><button class="btnIcons5" (click)="copiarLink(revision)"><i class="fa fa-eye"></i></button></span>
                                                </td>
                                                <!-- <td style="width: 15%;">
                                                    <span><button class="btn btn-block btn-success " style="background-color: #ff5722;border-color: #ff5722;" (click)="continuarAuditoria(id)">Continuar</button></span>
                                                </td>
                                                <td style="width: 15%;">
                                                    <span><button class="btn btn-block btn-success " style="background-color: #ff5722;border-color: #ff5722;" (click)="seguirAuditoria(id)">Seguir</button></span>
                                                </td> -->
                                                
                                            </tr>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    
                        <div id="tabla3" style="display: none;">
                            <div  class="col-md-12">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" >
                                        <dx-data-grid 
                                        id="gridContainer"
                                        [dataSource]="auditoriasAcabadas"
                                        [showBorders]="true">   
                                            
                                            <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-export [enabled]="true" fileName="Auditorias" [allowExportSelectedData]="true"></dxo-export>
                                            <dxi-column dataField="idAuditoria" sortOrder="desc"></dxi-column>
                                            <dxi-column dataField="sucursal.nombre" ></dxi-column>
                                            <dxi-column dataField="fecha_inicio"  [visible]="true"></dxi-column>
                                            <dxi-column dataField="fecha_fin"  ></dxi-column>
                                            <dxi-column dataField="cantidad_productos"  dataType="number" caption="Prod.Aud"></dxi-column>
                                            <dxi-column type="buttons"  caption="Ver lista">
                                                <dxi-button icon="fa fa-list fa-1x" [onClick]="getCourseFile"></dxi-button>     
                                            </dxi-column>
                                            <dxi-column type="buttons"  caption="Ver Novedades">
                                                <dxi-button icon="fa fa-eye" [onClick]="getCourseFile2"></dxi-button>     
                                            </dxi-column>
                                            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                            <dxo-paging [pageSize]="10"></dxo-paging>
                                            <dxo-pager 
                                                [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 10, 20]"
                                                [showInfo]="true">
                                            </dxo-pager>
                                        </dx-data-grid>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <br><br>
                            </div>
                        </div>

                        <div id="tabla2" style="display: none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"><button class="btn btnIcons6" style="background-color: #ff5722;" (click)="regresar2()">Regresar</button></div>
                                    <div class="col-md-12">
                                        <dx-data-grid #data2
                                        id="gridContainer"
                                        [dataSource]="auditoriaProductosleida"
                                        [showBorders]="true"
                                        (onExporting)="onExporting($event)"
                                        (onExported)="onExported($event)">   
                                            
                                            <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-export [enabled]="true" fileName="Auditorias" [allowExportSelectedData]="true"></dxo-export>
                                            <dxi-column dataField="idAud" sortOrder="desc"></dxi-column>
                                            <dxi-column dataField="idPrincipal" [visible]="false"></dxi-column>
                                            <dxi-column dataField="fecha" dataType="date" [visible]="true"></dxi-column>
                                            <dxi-column dataField="auditor" [visible]="false"></dxi-column>
                                            <dxi-column dataField="sucursal.nombre" [visible]="false"></dxi-column>
                                            <dxi-column dataField="producto.PRODUCTO" caption="Producto" width="30%"></dxi-column>
                                            <dxi-column caption="Sistema"  dataField="sucursal1">
                                                <dxi-column dataField="cajas_sistema"  dataType="number" caption="Cajas" ></dxi-column>
                                                <dxi-column dataField="piezas_sistema"  dataType="number" caption="Piezas"></dxi-column>
                                            </dxi-column>
                                            <dxi-column caption="Fisico"  dataField="sucursal1">
                                                <dxi-column dataField="cajas_fisico"  dataType="number" caption="Cajas"></dxi-column>
                                                <dxi-column dataField="piezas_fisico"  dataType="number" caption="Piezas"></dxi-column>
                                            </dxi-column>
                                            <dxi-column caption="Diferencia"  dataField="sucursal1">
                                                <dxi-column dataField="cajas_diferencia"  dataType="number" caption="Cajas"></dxi-column>
                                                <dxi-column dataField="piezas_diferencia"  dataType="number" caption="Piezas"></dxi-column>
                                                <dxi-column dataField="m2diferencia"  dataType="number" caption="Diferencia" [visible]="false"></dxi-column>
                                            </dxi-column>
                                            <dxi-column type="buttons"  caption="Eliminar">
                                                <dxi-button icon="fa fa-trash" [onClick]="getCourseFile3"></dxi-button>     
                                            </dxi-column>
                                            <dxi-column dataField="condicion" caption="Condición" [visible]="false"></dxi-column>
                                            <dxi-column dataField="impacto" caption="Impacto" [visible]="false"></dxi-column>
                                        
                                            <dxi-column dataField="auditado" [visible]="false"></dxi-column>
                                            <dxi-column dataField="observaciones" caption="Observaciones" [visible]="false"></dxi-column>
                                            <dxi-column dataField="ubicacion" caption="Ubicacion" [visible]="false"></dxi-column>
                                            <dxo-paging [pageSize]="10"></dxo-paging>
                                            <dxo-pager 
                                                [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 10, 20]"
                                                [showInfo]="true">
                                            </dxo-pager>
                                        
                                            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                        </dx-data-grid>
                                    </div>
                                
                                </div>
                            </div>
                        </div>


                        <div id="tabla4" style="display: none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"><button class="btn btnIcons6" style="background-color: #ff5722;" (click)="regresar2()">Regresar</button></div>
                                    <div class="col-md-12">
                                        <div style="text-align: center;"><h4>Novedades de Auditoría</h4></div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <dx-data-grid #datag2
                                        id="gridContainer"
                                        [dataSource]="auditoriaProductosleida2"
                                        [showBorders]="true"
                                        (onExporting)="onExporting2($event)"
                                        (onExported)="onExported2($event)">   
                                            <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-export [enabled]="true" fileName="Novedades Productos" [allowExportSelectedData]="true"></dxo-export>
                                            <dxi-column dataField="idAud" sortOrder="desc"></dxi-column>
                                            <dxi-column dataField="sucursal.nombre" [visible]="false"></dxi-column>
                                            <dxi-column dataField="fecha"  [visible]="true"></dxi-column>
                                            <dxi-column dataField="auditor" [visible]="false"></dxi-column>
                                            <dxi-column dataField="auditado" [visible]="false"></dxi-column>
                                            <dxi-column dataField="producto.PRODUCTO" caption="Producto" width="30%"></dxi-column>
                                            <dxi-column dataField="cajas_danadas"  dataType="number" caption="Cajas"></dxi-column>
                                            <dxi-column dataField="piezas_danadas"  dataType="number" caption="Piezas"></dxi-column>
                                            <dxi-column dataField="valoracion" caption="Condición" [visible]="true"></dxi-column>
                                            <dxi-column dataField="impactoDanado" caption="Impacto" [visible]="true"></dxi-column>
                                            <dxi-column dataField="auditor" caption="Auditor" [visible]="false"></dxi-column>
                                            <dxi-column dataField="ubicacion" caption="Ubicacion" [visible]="false"></dxi-column>
                                            <dxi-column dataField="observaciones" caption="Observaciones" [visible]="false"></dxi-column>
                                            <dxo-paging [pageSize]="10"></dxo-paging>
                                            <dxo-pager 
                                                [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 10, 20]"
                                                [showInfo]="true">
                                            </dxo-pager>
                                        
                                            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                        </dx-data-grid>
                                    </div>
                                
                                </div>
                                
                            </div>
                        </div>
                        
                    
                    


                   

                    <div *ngIf="mostrarTablaAuditoria">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2"><button class="btn btnIcons6" style="background-color: #ff5722;" (click)="regresar()">Regresar</button></div>
                                        <div class="col-md-10"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <dx-data-grid #datag2
                                        id="gridContainer"
                                        [dataSource]="auditoriaProductosleida"
                                        [showBorders]="true"
                                        (onExporting)="onExporting3($event)"
                                        (onExported)="onExported3($event)">   
                                            <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                            <dxo-export [enabled]="true" fileName=" Productos Auditoria" [allowExportSelectedData]="true"></dxo-export>
                                            <dxi-column dataField="_id" [visible]="false"></dxi-column>
                                            <dxi-column dataField="idAud" sortOrder="desc"></dxi-column>
                                            <dxi-column dataField="fecha" [visible]="true"></dxi-column>
                                            <dxi-column dataField="nombreproducto" width="25%" [visible]="true"></dxi-column>
                                            <dxi-column caption="Sistema" width="15%">
                                                <dxi-column dataField="cajas_sistema" caption="Cajas"></dxi-column>
                                                <dxi-column dataField="piezas_sistema"  caption="Piezas"></dxi-column>
                                            </dxi-column>
                                            <dxi-column caption="Fisico" width="15%">
                                                <dxi-column dataField="cajas_fisico" caption="Cajas"></dxi-column>
                                                <dxi-column dataField="piezas_fisico"  caption="Piezas"></dxi-column>
                                            </dxi-column>
                                            <dxi-column caption="Diferencia" width="15%">
                                                <dxi-column dataField="cajas_diferencia" caption="Cajas" dataType="number"></dxi-column>
                                                <dxi-column dataField="piezas_diferencia"  caption="Piezas" dataType="number"></dxi-column>
                                            </dxi-column>
                                        <!--  <dxi-column dataField="valoracion" caption="Valoracion" [visible]="true"></dxi-column> -->
                                            <dxi-column dataField="condicion" caption="Condicion" width="8%" [visible]="true"></dxi-column>
                                            <dxi-column dataField="impacto" caption="Impacto" width="8%" [visible]="true"></dxi-column>
                                            <dxi-column dataField="ubicacion" caption="Ubicacion"  [visible]="false"></dxi-column>
                                            <dxi-column dataField="observaciones" caption="Observaciones"  [visible]="false"></dxi-column>
                                            
                                            
                                                <dxi-column type="buttons"  caption="Edit." width="6%">
                                                    <dxi-button icon="fa fa-pencil" [onClick]="verEdit"></dxi-button>     
                                                </dxi-column>
                                                <dxi-column type="buttons"  caption="Elim." width="6%">
                                                    <dxi-button icon="fa fa-trash-o" [onClick]="eliminarProd"></dxi-button>     
                                                </dxi-column>
                                            
                                            <dxo-paging [pageSize]="10"></dxo-paging>
                                            <dxo-pager 
                                                [showPageSizeSelector]="true"
                                                [allowedPageSizes]="[5, 10, 20]"
                                                [showInfo]="true">
                                            </dxo-pager>
                                        
                                            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                        </dx-data-grid>

                                        <div style="margin: 2rem;">

                                        </div>

                                        <div class="row" id="tablaRepetidos" style="display: none;">
                                            <div class="col-md-12">
                                                <table class="table table-bordered table-responsive-md table-striped text-center" id="tabla1">
                                                <tr>
                                                    <th class="text-center">Productos repetidos</th>
                                                </tr>                                                 
                                                <tr *ngFor="let audit of arreglocoincidencias2; let id = index">
                                                    <td><span>{{audit.nombreProducto}}</span></td>
                                                </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4" style="text-align: center;"><button class="btn btnIcons6"  style="background-color: #ff5722;" (click)="revisarDuplicados()">Actualizar Productos</button></div>
                                            <div class="col-md-4"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div *ngIf="mostrarSeccionIngresos">

    <br>
    <div class="row remiPro">
        <div class="col-md-8"></div>
        <div class="col-md-4"> 
            <dx-select-box [items]="menuIngresos" 
            [value]="menuIngresos[0]" 
            [readOnly]="false" 
            [disabled]="false"
            class="form-control select"
            (onValueChanged)="opcionMenuIngresos($event)"
            ></dx-select-box>
        </div>
    </div>
    <br>

    <div class="card mb-3">
        <h5 class="card-header text-center font-weight-bold text-uppercase ">CONTROL DE INVENTARIO</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div *ngIf="newIngreso">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <br><br>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Seleccione un producto</div>
                                    <div class="col-md-8">
                                        <dx-select-box  [dataSource]="productos22" [(value)]="productoRevisado.producto" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true" valueExpr="PRODUCTO" displayExpr="PRODUCTO" (onValueChanged)="obtenerDetallesproducto($event)">
                                        </dx-select-box>
                                    </div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Cajas</div>
                                    <div class="col-md-8"><dx-number-box [(value)]="productoRevisado.cajas" [disabled]="false" [readOnly]="false"></dx-number-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Piezas</div>
                                    <div class="col-md-8"><dx-number-box [(value)]="productoRevisado.piezas" [disabled]="false" [readOnly]="false"></dx-number-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Detalles</div>
                                    <div class="col-md-8"><dx-select-box [items]="menuValoracion" [(value)]="productoRevisado.detalle" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true"></dx-select-box></div>

                                    <div class="col-md-4" style="padding-top: 0.7em;">Novedades</div>
                                    <div class="col-md-8"><dx-text-box [(value)]="productoRevisado.novedades" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                    <button class="btn btn-block btn-success espacio" [disabled]="bloquearboton" style="background-color: #ff5722;border-color: #ff5722;" (click)="guardarRegistroProducto()">Registrar</button>
                                    <br>
                                    <br>
                                    <br>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                    </div> 


                    <div *ngIf="verListadoIngreso">
                        <div class="col-md-12">
                            <dx-data-grid #datag2
                                id="gridContainer"
                                [dataSource]="listadoProductosRevisados"
                                [showBorders]="true"
                                (onExporting)="onExporting2($event)"
                                (onExported)="onExported2($event)">   
                                <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                <dxo-export [enabled]="true" fileName="Novedades Productos" [allowExportSelectedData]="true"></dxo-export>
                                <dxi-column dataField="idReferenciaRevision" sortOrder="desc"></dxi-column>
                                <dxi-column dataField="producto" [visible]="false"></dxi-column>
                                <dxi-column dataField="fecha"  [visible]="false"></dxi-column>
                                <dxi-column dataField="cajas"  dataType="number" caption="Cajas"></dxi-column>
                                <dxi-column dataField="piezas"  dataType="number" caption="Piezas"></dxi-column>
                                <dxi-column dataField="detalle" caption="Detalle" [visible]="true"></dxi-column>
                                <dxi-column dataField="novedades" caption="Novedades" [visible]="true"></dxi-column>
                            
                                <dxo-paging [pageSize]="10"></dxo-paging>
                                <dxo-pager 
                                    [showPageSizeSelector]="true"
                                    [allowedPageSizes]="[5, 10, 20]"
                                    [showInfo]="true">
                                </dxo-pager>
                            
                                <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                            </dx-data-grid>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>






 <dx-popup [width]="700" [height]="200" [showTitle]="true" title="Link" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="col-md-12">
           <h5>{{linkRevision}}</h5>
        </div>
    </div>
</dx-popup>



            









