.productos{
    position: absolute;
    margin-top: 185px;
    height: 180px;
}

dx-form{
    position: absolute;
}

.altura{
    max-height: 30px;
    margin-bottom: 5px;
}

h5{
    font-size: 0.8em;
}

.row{
    margin-bottom: 5px;
}

.form{
    width: 100% !important;
}

.tdoc{
    margin-top: 1.5em;
}

.tdoc2{
    margin-top: 1.5em; 
    margin-right: 2em; 
}

.titlesCurrency{
    margin-top: 10px;
    margin-bottom: -12px;
}

.dx-button.dx-button-success{
    background-color: darkseagreen;
}

.dx-button{
    margin-right: 15px;
}

.label2{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0.5em;
}




::ng-deep .prueba2 /deep/ .dx-texteditor-input{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
   
}

::ng-deep .sbox  /deep/ .dx-item-content.dx-list-item-content{
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }

.fondobt{
    background-color: transparent;
    border-color: transparent;
    color: red;
}

.espacio{
    margin-top: 1.5em;
}


.imgProducto2{
    width: auto;
    height: 400px;
  }
  
  .imgProducto3{
    width: auto;
    height: 100px;
  }




.altura{
    height: 200px;
}



.dx-field-item-content{
    font-size: 20px;
    background-color: blue; 
}

.radio{
    float: right;
    display: contents;
}


.contenedorProductos{
    margin-right: 20px;
    text-align: center;
}

::ng-deep .altura1{
    height: 200px;
}

::ng-deep .altura2{
    height: 400px;
}
::ng-deep .altura3{
    height: 600px;
}
::ng-deep .altura4{
    height: 800px;
}
::ng-deep .altura5{
    height: 1000px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }