<div>
   <div class="row remiPro titulos">
    <div class="col-md-8"><div class="">
        
    </div></div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [(value)]="opMenu" 
        [readOnly]="false" 
        [disabled]="false"
        class="form-control select"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
   </div>
   
</div>

<div *ngIf="mostrarLoading">
    <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
</div>


<div id="busquedaProducto" *ngIf="mostrarBusquedaPorFiltros">
    <div class="row">
        <div class="col-md-12 card carIn">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row"  style="margin-top: 0.7rem">
                        <div class="col-md-12" style="text-align: center;">
                            <h5 style="font-weight: bold;">Filtros de Búsqueda</h5>
                        </div>
                        <div class="col-md-4" style="padding-top: 0.7em;">GRUPO PRODUCTO</div>
                        <div class="col-md-6">
                            <dx-select-box [items]="listadoCategorias" 
                                [(value)]="nombreClasificacion" 
                                [readOnly]="false" 
                                [disabled]="false"
                                ></dx-select-box>
                        </div>
                        <div class="col-md-4" style="padding-top: 0.7em;">REFERENCIA</div>
                        <div class="col-md-6">
                            <dx-text-box [(value)]="nombreReferencia" [disabled]="false" [readOnly]="false"></dx-text-box>
                        </div>
                        <div class="col-md-4" style="padding-top: 0.7em;">CASA</div>
                        <div class="col-md-6">
                            <dx-text-box [(value)]="nombreCasa" [disabled]="false" [readOnly]="false"></dx-text-box>
                        </div>
                      
                        <div class="col-md-4" style="margin-top: 0.5em;">Tipo Búsqueda</div>
                        <div class="col-md-8" style="margin-top: 0.5em;">
                            <div >
                                <dx-radio-group
                                [items]="tiposBusqueda"
                                [(value)]="tipoBusqueda"
                                layout="horizontal">
                                </dx-radio-group>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 0.5rem;margin-bottom: 1rem;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerProductosPorFiltros()">Buscar</button></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>     
        </div>
    </div>

    <div class="grilla">
        <dx-data-grid #datag2
            id="gridContainer"
            [dataSource]="invetarioP"
            [showBorders]="true"
            [columnAutoWidth]="true"
            rowTemplate="rowTemplateName"
            (onExporting)="onExporting2($event)"
            (onExported)="onExported2($event)">
        <dxo-export [enabled]="true" fileName="Consolidado_productos" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
        <dxo-filter-row [visible]="true" ></dxo-filter-row>
        <dxi-column caption="Imagen" width="10%" [allowFiltering]="false" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="producto.PRODUCTO" caption="Producto" dataType="string" sortOrder="asc" width="40%"></dxi-column>
        <dxi-column dataField="producto.precio" caption="Valor Unitario" dataType="currency"[visible]="false"></dxi-column>
        <dxi-column dataField="producto.CLASIFICA" caption="Grupo" dataType="string" sortOrder="asc" width="15%" [visible]="false"></dxi-column>
        <dxi-column dataField="cantidadCajas" caption="Cajas_Matriz" dataType="number" width="10%" class="d2"></dxi-column>
        <dxi-column dataField="cantidadPiezas" caption="Piezas_Matriz" width="10%" dataType="number"></dxi-column>
        <dxi-column dataField="cantidadM2" caption="M2_Matriz" dataType="number" width="10%" [visible]="true"></dxi-column>
        <dxi-column dataField="totalb1" caption="Total" format="currency" [visible]="false"  width="10%"></dxi-column>
        <dxi-column dataField="cantidadCajas2" caption="Cajas_Suc1" width="10%" dataType="number"></dxi-column>
        <dxi-column dataField="cantidadPiezas2" caption="Piezas_Suc1" width="10%" dataType="number"></dxi-column>
        <dxi-column dataField="cantidadM2b2" caption="M2_Suc1" dataType="number" width="10%" [visible]="true"></dxi-column>
        <dxi-column dataField="totalb2" caption="Total" valueFormat="currency" [visible]="false" width="10%"></dxi-column>
        <dxi-column dataField="cantidadCajas3" caption="Cajas_Suc2" width="10%" dataType="number"></dxi-column>
        <dxi-column dataField="cantidadPiezas3" caption="Piezas_Suc2" width="10%" dataType="number"></dxi-column>
        <dxi-column dataField="cantidadM2b3" caption="M2_Suc2" dataType="number" width="10%" [visible]="true"></dxi-column>
        <dxi-column dataField="totalb3" caption="Total" valueFormat="currency" [visible]="false" width="10%"></dxi-column>
        <dxi-column dataField="producto.ESTADO" caption="Estado" [visible]="false" width="10%"></dxi-column>

        <tbody class="employee dx-row"  *dxTemplate="let prod of 'rowTemplateName'" >
            <tr class="main-row">
                <td rowspan="2" class="imgProducto" style="text-align: center;">
                    <button (click)="mostrarPopupImagenes(prod.data.producto.PRODUCTO)" class="btIm2">
                        <img class="imgProducto" [src]="prod.data.IMAGEN_PRINCIPAL">
                    </button>
                </td>
                <td style="vertical-align: middle;text-align: left;" >{{prod.data.producto.PRODUCTO}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadCajas}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadPiezas}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadM2}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadCajas2}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadPiezas2}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadM2b2}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadCajas3}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadPiezas3}}</td>
                <td style="vertical-align: middle;text-align: center;">{{prod.data.cantidadM2b3}}</td>
            </tr>
        </tbody>

        <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
    </dx-data-grid>
    </div>
</div>


<div *ngIf="mostrarSeccionCarga">
    
    <div class="row">
        <div class="col-md-12 card carIn">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row"  style="margin-top: 0.7rem">
                        <div class="col-md-12" style="text-align: center;">
                            <h5 style="font-weight: bold;">Carga Masiva De Datos</h5>
                        </div>
                        <div class="col-md-4" style="padding-top: 0.7em;">Seleccione el Proceso</div>
                        <div class="col-md-6">
                            <dx-select-box [items]="tiposProcesos" 
                                [(value)]="tipoProceso" 
                                [readOnly]="false" 
                                [disabled]="false">
                            </dx-select-box>
                        </div>
                        
                        <div class="col-md-4" style="padding-top: 1.3em;">Archivo</div>
                        <div class="col-md-6" style="padding-top: 1.3em;">
                            <input type="file"  (change)="onFileChange($event)">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>   
            <br><br>  
        </div>
    </div>

    <br><br>
    <div *ngIf="listadoProductosCarga.length > 0" class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <dx-data-grid id="gridContainer" [dataSource]="listadoProductosCargaFinal" [showBorders]="true">
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxi-column dataField="Producto" caption="Producto"></dxi-column>
                <dxi-column dataField="Estado" caption="Estado"></dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
            </dx-data-grid>

            <div class="row" style="margin-top: 0.5rem;margin-bottom: 1rem;">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="actualizarProductos()">Inactivar Productos</button></div>
                <div class="col-md-4"></div>
            </div>
        </div>

                <div class="col-md-3"></div>
        
    </div>
</div>

<!-- 305 -->