
<br><br>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 card carIn">

              <div id="newAudGlobal" style="display: block;" class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header text-center font-weight-bold text-uppercase ">Auditorias en Proceso</h5>
                            <div class="card-body">
                              <div class="table-editable">
                                <span class="table-add float-right mb-3 mr-2">
                                  <a class="text-success" >
                                  
                                  </a>
                                </span>
                                <div *ngFor="let audit of auditoriasIniciadas; let id = index">
                                  <br><br>
                                  <div class="col-md-12">
                                    <div class="row">
                                      <div class="col-md-6" style="text-align: center;font-size: 1.5em;font-weight: bold;">{{audit.sucursal.nombre}}</div>
                                      <div class="col-md-6">
                                        <div id="entrar" style="display: block;" >
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><button class="btn btn-block btn-success " (click)="continuarAuditoria(id)">Entrar</button></div>
                                            <div class="col-md-2"></div>
                                          </div>
                                        </div>
                                        <div id="seguir" style="display: block;" >
                                          <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><button class="btn btn-block btn-success " (click)="seguirAuditoria(id)">Seguir</button></div>
                                            <div class="col-md-2"></div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                <!-- <table class="table table-bordered table-responsive-md table-striped text-center">
                                  <tr>
                                    <th class="text-center" >ID</th>
                                    <th class="text-center" >Sucursal</th>
                                    <th class="text-center" colspan="2" >Acciones</th>
                                    
                                  </tr>
                                 
                                  <tr *ngFor="let audit of auditoriasIniciadas; let id = index">
                                    <td>
                                      <span>{{audit.idAuditoria}}</span>
                                    </td>
                                    <td>
                                      <span>{{audit.sucursal.nombreComercial}}</span>
                                    </td>
                                   
                                   
                                    <td style="width: 15%;">
                                        <span><button class="btn btn-block btn-success " (click)="continuarAuditoria(id)">Continuar</button></span>
                                    </td>
                                    
                                  </tr>
                                </table> -->
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
                    
                
                <div  id="newAud"  style="display: none;">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12" style="text-align: center;"><h5>Auditorias de Inventarios</h5></div>

                                    <div class="row">
                                        <div class="col-md-4" ><p class="texto">ID</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.idAud" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Sucursal</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="nombreSucursal" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Auditor</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.auditor" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Seleccione un producto</p></div>
                                        <div class="col-md-8"><dx-select-box  [dataSource]="productos22" [(value)]="productoEntregado" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true" valueExpr="PRODUCTO" displayExpr="PRODUCTO" (onValueChanged)="obtenerDetallesproducto($event)">
                                        </dx-select-box>
                                        <br>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Producto seleccionado</p></div>
                                        <div class="col-md-8" style="font-size: 12pt;">{{auditoria.nombreproducto}}</div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Ubicación</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.ubicacion" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Fisico</h6></div>
                                        <div class="col-md-6"><span>Cajas</span><dx-number-box [(value)]="auditoria.cajas_fisico" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2()" ></dx-number-box></div>
                                        <div class="col-md-6"><span>Piezas</span><dx-number-box [(value)]="auditoria.piezas_fisico" [disabled]="lectura" [(readOnly)]="lectura" (onChange)="calcularTotalM2()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Novedades</h6></div>
                                        <div class="col-md-6"><span>Cajas</span><dx-number-box [(value)]="auditoria.cajas_danadas" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Dano()"></dx-number-box></div>
                                        <div class="col-md-6"><span>Piezas</span><dx-number-box [(value)]="auditoria.piezas_danadas" [disabled]="lectura" [readOnly]="false" (onChange)="calcularTotalM2Dano()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Valoración</h6></div>
                                        <div class="col-md-12"><dx-select-box [items]="menuValoracion" [(value)]="auditoria.valoracion" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true"></dx-select-box>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Observaciones</h6></div>
                                        <div class="col-md-12"><dx-text-box [(value)]="auditoria.observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                        <button class="btn btn-block btn-success espacio" [(disabled)]="btnRe" (click)="guardarAuditoriaProducto()">Guardar Auditoria</button>
                                        <br>
                                        <br>
                                        <br>
                                        </div>
                                        <div class="col-md-3"></div>
                                        </div>
                                    
                                </div>
                    
                    
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>


                <div  id="editAud"  style="display: none;">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12" style="text-align: center;"><h5>Editar Auditoria</h5></div>

                                    <div class="row">
                                        <div class="col-md-4" ><p class="texto">ID</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="editAuditoria.idAud" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Sucursal</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="nombreSucursal" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Auditor</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="editAuditoria.auditor" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Producto</p></div>
                                        <div class="col-md-8"><dx-select-box [items]="productos" [(value)]="productoEntregado" [readOnly]="true" [disabled]="false"
                                            [searchEnabled]="true" valueExpr="PRODUCTO" displayExpr="PRODUCTO">
                                        </dx-select-box>
                                        <br>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Fisico</h6></div>
                                        <div class="col-md-6"><span>Cajas</span><dx-number-box [(value)]="editAuditoria.cajas_fisico" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Edit()" ></dx-number-box></div>
                                        <div class="col-md-6"><span>Piezas</span><dx-number-box [(value)]="editAuditoria.piezas_fisico" [disabled]="lectura" [(readOnly)]="lectura" (onChange)="calcularTotalM2Edit()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Novedades</h6></div>
                                        <div class="col-md-6"><span>Cajas</span><dx-number-box [(value)]="editAuditoria.cajas_danadas" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2DanoEdit()"></dx-number-box></div>
                                        <div class="col-md-6"><span>Piezas</span><dx-number-box [(value)]="editAuditoria.piezas_danadas" [disabled]="lectura" [readOnly]="false" (onChange)="calcularTotalM2DanoEdit()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Valoración</h6></div>
                                        <div class="col-md-12"><dx-select-box [items]="menuValoracion" [(value)]="editAuditoria.valoracion" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true"></dx-select-box>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Observaciones</h6></div>
                                        <div class="col-md-12"><dx-text-box [(value)]="editAuditoria.observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                        <button class="btn btn-block btn-success espacio" [(disabled)]="btnRe" (click)="guardarEditAuditoriaProducto()">Guardar Auditoria</button>
                                        <br>
                                        <br>
                                        <br>
                                        </div>
                                        <div class="col-md-3"></div>
                                        </div>
                                    
                                </div>
                    
                    
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>

                <div id="tablaAuditoria" style="display: none;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"><button class="btn btnIcons6" (click)="regresar()">Regresar</button></div>
                                    <div class="col-md-10"></div>
                                </div>
                                
                                <div class="card">
                                    <h5 class="card-header text-center font-weight-bold text-uppercase ">Auditorias 1</h5>
                                    <div class="card-body">
                                      <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                          <a class="text-success" >
                                          
                                          </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="tabla1">
                                            <tr>
                                                <th class="text-center" rowspan="2">ID</th>
                                                <!-- <th class="text-center"></th> -->
                                                <th class="text-center" rowspan="2">Fecha</th>
                                                <!-- <th class="text-center" rowspan="2">Estado</th> -->
                                                <th class="text-center" rowspan="2">Producto</th>
                                                <th class="text-center" colspan="2">Sistema</th>
                                                <th class="text-center" colspan="2">Fisico</th>
                                                <th class="text-center" colspan="2">DIFF</th>
                                                <th class="text-center" rowspan="2" >Condición</th>
                                                <th class="text-center" rowspan="2" >Impacto</th>
                                                <th class="text-center" colspan="2" >Acciones</th>
                                              </tr>
                                              <tr> 
                                              <!--   <th class="text-center">Cant.Fact</th> -->
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>
                                               <!--  <th class="text-center">m2 </th> -->
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>

                                                <th class="text-center">Ac </th>
                                                <th class="text-center">El </th>
                                                <!-- <th class="text-center">Aj </th> -->
                                                
                                              </tr>
                                         
                                          <tr *ngFor="let audit of auditoriaProductosleida; let id = index">
                                            <td><span>{{audit.idAud}}</span></td>
                                            <td><span>{{audit.fecha}}</span></td>
                                            <td><span>{{audit.nombreproducto}}</span></td>
                                            <td><span>{{audit.cajas_sistema}}</span></td>
                                            <td><span>{{audit.piezas_sistema}}</span></td>
                                            <td><span>{{audit.cajas_fisico}}</span></td>
                                            <td><span>{{audit.piezas_fisico}}</span></td>
                                            <td><span>{{audit.cajas_diferencia}}</span></td>
                                            <td><span>{{audit.piezas_diferencia}}</span></td>
                                            <td><span>{{audit.valoracion}}</span></td>
                                            <td><span>{{audit.impacto}}</span></td>
                                            
                                           <td>
                                               <span><button class="btnIcons5" (click)="editarAuditoriaProducto(audit.idAud)"><i class="fa fa-pencil"></i></button></span>
                                            </td>
                                            <td>
                                                <span><button class="btnIcons5" (click)="eliminarAuditoriaProducto(id)"><i class="fa fa-trash-o"></i></button></span>
                                            </td>
                                            
                                          </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4" style="text-align: center;"><button class="btn btnIcons6" (click)="realizarActualizaciones()">Actualizar Productos</button></div>
                                            <div class="col-md-4"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
