<div *ngIf="mostrarLoading">
  <app-loading></app-loading>
</div>


<br><br>
 <div class="card">
    <h5 class="card-header text-center font-weight-bold text-uppercase ">Registros Facturas Proveedor</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                <div class="row card">
                    <div class="col-md-12"> 
                        <div class="row">
                            <div class="col-md-3">Desde</div>
                            <div class="col-md-9">
                            <dx-date-box
                                [(value)]="nowdesde"
                                type="date">
                            </dx-date-box>
                            </div>

                            <div class="col-md-3">Hasta</div>
                            <div class="col-md-9">
                            <dx-date-box
                                [(value)]="nowhasta"
                                type="date">
                            </dx-date-box>
                            </div>

                            <div class="col-md-4"></div>
                            <div class="col-md-4 btnSearch">
                                <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerFacturasPorRango()">Buscar</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>        
                    </div>
                </div>                
            </div>
            
            <div class="col-md-4 " style="margin-left: 1em;">
                <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                <div class="row card">
                    <br><br>
                    <div class="col-md-12"> 
                        <div class="row">  
                    
                            <div class="col-md-3"></div>
                            <div class="col-md-6 btnSearch">
                                <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerlistaFacturas()">Buscar Todos</button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>        
                    </div>
                    <br>
                </div>         

            </div>
            <div class="col-md-2"></div>
        </div>   
    </div>
</div>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="dx-field radio">
                <div class="dx-field-value">
                    <dx-radio-group
                    [items]="tiposFactura"
                    [(value)]="tipoFactura"
                    layout="horizontal"
                    (onValueChanged)="opcionRadioTipos($event)">
                    </dx-radio-group>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<dx-data-grid #datag2
    id="gridContainer"
    [dataSource]="listaFacturas"
    [showBorders]="true">
    <dxo-filter-row [visible]="true" ></dxo-filter-row>
    <dxo-export [enabled]="true" [(fileName)]="nombreArchivo" [allowExportSelectedData]="true"></dxo-export>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
    <dxi-column dataField="idF" caption="ID" dataType="string" sortOrder="desc"></dxi-column>
    <dxi-column dataField="fecha" caption="Fecha" format="dd/MM/yyyy" dataType="date"></dxi-column>
    <dxi-column dataField="fechaExpiracion" caption="Fecha Expiracion" format="dd/MM/yyyy" dataType="date"></dxi-column>
    <dxi-column dataField="nFactura" caption="Factura" dataType="string"></dxi-column>
    <dxi-column dataField="nSolicitud" caption="N/Orden" dataType="string"></dxi-column>
    <dxi-column dataField="proveedor" caption="Proveedor" dataType="string" [visible]="true"></dxi-column>
    <dxi-column dataField="valorAbonado" caption="Valor Cubierto" dataType="number"></dxi-column>
    <dxi-column dataField="total" caption="Total Factura" dataType="number"></dxi-column>
    <dxi-column dataField="valorPagado" caption="Valores Pagados" dataType="number"></dxi-column>
    <dxi-column dataField="valorDescuento" caption="Valor Descuento" dataType="number"></dxi-column>
    <dxi-column dataField="estado" caption="Estado Factura" dataType="string"></dxi-column>
    <dxi-column type="buttons" dataField="bt2" caption="Est.Orden" width="6%">
        <dxi-button hint="Estado Orden" icon="fa fa-eye" [onClick]="mostrarEstado"></dxi-button>
    </dxi-column>
    <dxi-column type="buttons" dataField="bt1" caption="Trans." width="6%">
        <dxi-button hint="Notas" icon="fa fa-list" [onClick]="mostrarTransaciones"></dxi-button>
    </dxi-column>
    <dxi-column type="buttons" dataField="bt1" caption="Desc." width="6%">
        <dxi-button hint="Notas" icon="fa fa-pencil-square-o" [onClick]="mostrarSeccionDescuento"></dxi-button>
    </dxi-column>
    <dxo-summary>
        <dxi-total-item
            column="valorAbonado"
            valueFormat="currency"
            displayFormat="{0}"
            summaryType="sum"
            alignment="right">
        </dxi-total-item>
        <dxi-total-item
            column="total"
            valueFormat="currency"
            displayFormat="{0}"
            summaryType="sum"
            alignment="right">
        </dxi-total-item>
        <dxi-total-item
            column="valorPagado"
            valueFormat="currency"
            displayFormat="{0}"
            summaryType="sum"
            alignment="right">
        </dxi-total-item>
    </dxo-summary>

    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid>


<dx-popup [width]="750" [height]="250" [showTitle]="true" title="Factura #: {{numeroFactura}}" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisibleEstado">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="col-md-12">
            <div class="row espacio" style="text-align: center;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h6>Orden: {{numOrden}}</h6>
                </div>
                <div class="col-md-1"></div> 

                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h6>Estado Orden: {{estadoOrden}}</h6>
                </div>
                <div class="col-md-1"></div> 
            </div>
        </div>
    </dx-scroll-view>
    </div>
</dx-popup>


<dx-popup [width]="750" [height]="450" [showTitle]="true" title="Factura #: {{numeroFactura}}" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="col-md-12">
            <div class="row espacio" style="text-align: center;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h6>Transacciones Facturas</h6>
                    <table style="margin-top: 1em;">
                        <tr>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Valor Abonado</th>
                            <th class="text-center">Valor Saldos</th>
                            <th class="text-center">Valor</th>
                        <!--   <th class="text-center">M2</th> -->
                        </tr>
                        <tr *ngFor="let pro of listadoTransaccionesFacturas; let id = index">
                            <td style="text-align: center;width: 25%;">
                                {{pro.fechaFactura | date: 'dd/MM/yyyy'}}
                            </td>
                            <td style="text-align: center;width: 20%;">
                                {{pro.valorAbonado}}
                            </td>
                            <td style="text-align: center;width: 20%;">
                            {{pro.valorSaldos}}
                            </td>
                            <td style="text-align: center;width: 20%;">
                            {{pro.valorCancelado}}
                            </td>
                                                    
                        </tr>
                    </table>
                    
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </dx-scroll-view>
    </div>
</dx-popup>



<dx-popup [width]="850" [height]="450" [showTitle]="true" title="Factura #: {{numeroFactura}}" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisibleDescuentos">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="col-md-12">
            <div class="row espacio" style="text-align: center;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h6>Datos Generales</h6>
                    <table style="margin-top: 1em;">
                        <tr>
                            <th class="text-center">Proveedor</th>
                            <th class="text-center">Valor Cancelado</th>
                            <th class="text-center">Total</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;width: 50%;">
                                {{datosFactura.proveedor}}
                            </td>
                            <td style="text-align: center;width: 25%;">
                                {{datosFactura.valorPagado}}
                            </td>
                            <td style="text-align: center;width: 25%;">
                                {{datosFactura.total}}
                            </td>                
                        </tr>
                    </table>
                    <br>
                    
                    <div class="row" *ngIf="(datosFactura.valorDescuento == 0 || datosFactura.valorDescuento == undefined) && datosFactura.estado != 'PAGADA'  ">
                        <div class="col-md-6"><p>Aplicar Descuento?</p></div>
                        <div class="col-md-6"><dx-check-box [(value)]="mcaDescuento"></dx-check-box></div>

                        <div *ngIf="mcaDescuento">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <table style="margin-top: 1em;" class="inn">
                                    <tr>
                                        <th class="text-center">Valor Factura</th>
                                        <th class="text-center">Valor Descuento</th>
                                        <th class="text-center">Total </th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;width: 40%;">
                                            {{datosFactura.total}}
                                        </td>
                                        <td style="text-align: center;width: 30%;">
                                            <dx-text-box [(value)]="valorDescuento" (onChange)="calcularTotal()"></dx-text-box>
                                        </td>
                                        <td style="text-align: center;width: 30%;">
                                            {{valorTotalACancelar}}
                                        </td>                
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;width: 40%;" >
                                            Comentario:
                                        </td>
                                        <td style="text-align: center;width: 60%;" colspan="2">
                                            <dx-text-box [(value)]="comentario"></dx-text-box>
                                        </td>
                                                      
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 btnSearch">
                                <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="aplicarDescuento()">Aplicar Descuento</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        
                    </div>
                    </div>

                    

                    <div *ngIf="datosFactura.valorDescuento > 0 ">
                        <div class="row">
                            <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <table style="margin-top: 1em;">
                                        <tr>
                                            <th class="text-center">Descuento Aplicado</th>
                                            <th class="text-center">${{datosFactura.valorDescuento}}</th>
                                            <th class="text-center"> <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="eliminarDescuento()"><i class="fa fa-trash"></i></button></th>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="3">{{datosFactura.observaciones}}</td>
                                        </tr>
                                    </table>
                                </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    
                    
                    
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </dx-scroll-view>
    </div>
</dx-popup>


