<div class="container">
    <div class="row">
        <div class="col-4">
            <dx-button>Generar Cotizacion</dx-button>
        </div>
        <div class="col-4">
            <dx-button>Generar Nota de venta</dx-button>
        </div>
        <div class="col-4">
            <dx-button
            [text]="'Generar Factura'"
            [type]="success"
            (onItemClick)="generarFactura($event)">
            </dx-button>
            
        </div>
    </div>
    
    <dx-form id="form" [(formData)]="venta" [readOnly]="false" [colCount]="3" [width]="800">
        <dxi-item dataField="fecha" [editorOptions]="{ placeholder: 'Fecha'}">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="vendedor" [editorOptions]="{ placeholder: 'Vendedor'}">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="documentoN" [editorOptions]="{ placeholder: 'Documento'}" >
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="cliente" [editorOptions]="{ placeholder: 'Cliente'}"[colSpan]="2">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="1">
            <dxi-item dataField="tcliente" [editorOptions]="{ placeholder: 'Tcliente'}" [colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>   
            </dxi-item>
            <dxi-item dataField="tventa" [editorOptions]="{ placeholder: 'Tventa'}" [colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>
            </dxi-item>
        </dxi-item>
        <dxi-item dataField="ruc" [editorOptions]="{ placeholder: 'Ruc'}">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="direccion"[editorOptions]="{ placeholder: 'Direccion'}">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item dataField="celular" [editorOptions]="{ placeholder: 'Celular'}">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>


        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="3"></dxi-item>
        
        <dxi-item *ngFor="let p of productosVendidos; let i = index" itemType="group" [colCount]="3" [colSpan]="3">
            <dxi-item itemType="empty" [colSpan]="3">
                
            </dxi-item>
            
        </dxi-item>
        <div class="formFooter">
        <dxi-item dataField="costeTransporte" [editorOptions]="{ placeholder: 'Coste Transporte'}" [colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
        <dxi-item dataField="Observacion" [editorOptions]="{ placeholder: 'Observaciones'}"[colSpan]="1">
            <dxo-label [visible]="false"></dxo-label>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
        <dxi-item itemType="empty" [colSpan]="2"></dxi-item>
        <dxi-item dataField="total" [colSpan]="1"></dxi-item>
    </div>
    </dx-form>
    <div class="productos">
        <dx-button
        [text]="'Añadir producto'"
        [type]="success"
        [disabled]="newButtonEnabled"
        (onClick)="anadirProducto($event)">
        </dx-button>
        <dx-button
        [text]="'Ver calculadora'"
        [type]="success"
        (onClick)="verCalculadora($event)">
        </dx-button>
        <div class="row">
            <div class="col-1">
                <h5>Select</h5>
            </div>
            <div class="col-1">
                <h5>Iva</h5>
            </div>
            <div class="col-2">
                <h5>Producto</h5>
            </div>
            <div class ="col-1">
                <h5>Disponible</h5>
                
            </div>
            <div class="col-1">
                <h5>Precio min</h5>
            </div>
            <div class ="col-1">
                <h5>Equivalencia</h5>
            </div>
            <div class ="col-1">
                <h5>Cantidad (m2/uni.)</h5>
            </div>
            <div class ="col-1">
                <h5>Precio venta</h5>
            </div>
            <div class ="col-1">
                <h5>Total</h5>
            </div>
            <div class="col-1">
                <h5>Pedir</h5>
                
            </div>
            <div class="col-1">
                <h5>Entregar</h5>
            </div>
        </div>
    <div *ngFor="let p of productosVendidos">
        
        <div class="row altura">
            <div class="col-1">
                <dx-check-box [value]="p.seleccionado"></dx-check-box>
            </div>
            <div class="col-1">
                <dx-check-box [value]="p.iva"></dx-check-box>
            </div>
            <div class="col-2">
                <dx-select-box [items]="nombresProductos" [(value)]="p.nombreComercial" [readOnly]="false" [disabled]="false"  [searchEnabled]="true" (onValueChanged)="obtenerDatosDeProducto($event)"></dx-select-box>
            </div>
            <div class="col-1">
                <dx-text-box [(value)]="p.disponible" [disabled]="false" [readOnly]="true"></dx-text-box>                
            </div>
            <div class="col-1">
                <dx-text-box [(value)]="p.precio_min" [disabled]="false" [readOnly]="true"></dx-text-box>                
            </div>
            <div class ="col-1">
                <dx-number-box
                [value]="p.equivalencia"
                [disabled]="true"
                [readOnly]="false"
                [min]="value" [max]="value">
                </dx-number-box>
            </div>
            <div class ="col-1">
                <dx-number-box
                [(value)]="p.cantidad"
                [disabled]="false"
                [readOnly]="false"
                (onChange)="calcularEquivalencia($event)"
                [min]="value" [max]="value">
                </dx-number-box>
            </div>
            <div class ="col-1">
                <dx-number-box
                [(value)]="p.precio_venta"
                [disabled]="false"
                [readOnly]="false"
                [min]="value" [max]="value"
                (onChange)="carcularTotalProducto($event)">
                </dx-number-box>
            </div>
            <div class ="col-1">
                <dx-number-box
                [value]="p.total"       
                [disabled]="false"
                [readOnly]="false"
                [min]="value" [max]="value">
                </dx-number-box>
            </div>
            <div class="col-1">
                <dx-check-box [value]="p.pedir"></dx-check-box>
                
            </div>
            <div class="col-1">
                <dx-check-box [value]="p.entregar"></dx-check-box>
            </div>
        </div>
        
    </div>
    </div>
    

</div>
<dx-popup
[width]="300"
[height]="250"
[showTitle]="true"
title="'Information'"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="visibleCalculadora">
<h2>Convertor de m2 a cajas</h2>

<p>
  <label>MPH</label>
  <input id="inputMPH" type="number" placeholder="MPH" oninput="speedConverter(this.value)" onchange="speedConverter(this.value)">
</p>
<p>KPH: <span id="outputKPH"></span></p>

</dx-popup>