<br>


<div class="row" style="background-color: white;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h5 class="card-header text-center font-weight-bold text-uppercase " style="font-size: 1.2rem;">Gestión de Inventario</h5>
    <table style="width:100%">
      <tr>
        <th>Nombre</th>
        <td colspan="2">{{infoproducto.producto}}</td>
      </tr>
      <tr>
          <th>Piezas/Caja</th>
          <td colspan="2" style="text-align: center;">{{infoproducto.piezas}}</td>
      </tr>
      <tr>
          <th>Metros/Caja</th>
          <td colspan="2" style="text-align: center;">{{infoproducto.metros}}</td>
      </tr>
      <tr>
          <th>Fabrica</th>
          <td colspan="2"> {{infoproducto.fabrica}}</td>
      </tr>
      <tr>
        <th>Disponibilidad</th>
        <td colspan="2"><span style="font-weight: bold;">{{prodSuc1}}</span><span style="font-weight: bold;color: #828282;">M </span>
          <span style="font-weight: bold;">{{prodSuc2}}</span><span style="font-weight: bold;color: #828282;">S1 &nbsp; </span>
          <span style="font-weight: bold;">{{prodSuc3}}</span><span style="font-weight: bold;color: #828282;">S2 &nbsp;</span>
          <span style="font-weight: bold;">{{prodBod}}</span><span style="font-weight: bold;color: #828282;">P &nbsp;</span>
      
      </td>
    </tr>
    <tr>
        <th>Ubicación</th>
        <td colspan="2"><span style="font-weight: bold;color: #828282;">M( &nbsp; </span><span style="font-weight: bold;">{{ubi1}}</span>
          <span style="font-weight: bold;color: #828282;">)  S1( &nbsp; </span><span style="font-weight: bold;">{{ubi2}}</span>
          <span style="font-weight: bold;color: #828282;">)  S2( &nbsp;</span><span style="font-weight: bold;">{{ubi3}}</span>)</td>
    </tr>
      <tr>
          <th style="background-color: bisque;">Precio Socio</th>
          <td style="background-color: #cdcdcd;font-weight: bold;text-align: center;" colspan="2">{{infoproducto.precioSocio}}</td>
      </tr>
      <tr>
          <th style="background-color: bisque;">Precio Distribuidor</th>
          <td style="background-color: #cdcdcd;font-weight: bold;text-align: center;" colspan="2">{{infoproducto.precioDist}}</td>
      </tr>
      <tr style="text-align: center;">
          <th style="background-color: bisque;">Cliente</th>
          <!-- <span contenteditable="true" (blur)="actualizarDato( $event)" >{{infoproducto.cantidad}}</span> -->
          <span contenteditable="true" (blur)="actualizarDato( $event)" >{{infoproducto.cantidad}}</span>
          <td style="background-color: #cdcdcd;font-weight: bold;text-align: center;">{{infoproducto.precioCliente}}</td>
      </tr>
      <tr>
          <th>Notas</th>
          <td colspan="2">{{infoproducto.notas}}</td>
     </tr>


     
      
    </table>
    <dx-gallery #gallery
        id="gallery"
        [dataSource]="imagenes"
        [height]="200"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true">
    </dx-gallery>
  </div>
  <div class="col-md-3"></div>
</div>
