
<div class="row remiPro titulos">
    <div class="col-md-8">
        <!-- <div class="row">
            <div class="col-md-3"><h6>Sucursal</h6></div>
            <div class="col-md-4"> <dx-select-box [items]="sucursalesDefault" 
                [value]="sucursalesDefault[0]" 
                [readOnly]="false" 
                [disabled]="false"
                (onValueChanged)="asignarsucursalD($event)"></dx-select-box></div>
                <div class="col-md-5"></div>
         </div> -->
    </div>
    <div class="col-md-4"> <dx-select-box [items]="menu1" 
        [value]="menu1[0]" 
        [readOnly]="false" 
        [disabled]="false"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box></div>
</div>
<div id="devolucion" style="display: block;">
    <div class="row remiPro">
        <div class="col-md-12 titulo" ><h4>Devoluciones de Productos</h4></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><p>ID Documento</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="idDocumento" [readOnly]="false" ></dx-text-box>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Tipo Documento</p> </div>
                <div class="col-md-6"><dx-select-box #selectId [items]="menuDocumento" [value]="menuDocumento" [readOnly]="false" [disabled]="false"
                    [searchEnabled]="true" (onValueChanged)="obtenerDocumento($event)">
                </dx-select-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Cliente</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="cliente" [readOnly]="false" ></dx-text-box>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Usuario</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="usuario" [readOnly]="true" ></dx-text-box></div>
            </div>       
        </div>
    
        <div class="col-md-6">
           
            <div class="row">
                <div class="col-md-6"><p>ID-Devolución</p> </div>
                <div class="col-md-6" style="margin-bottom: 1em;"><dx-number-box [(value)]="id_devolucion" [readOnly]="true" class="id"></dx-number-box></div>
            </div>
            <div id="admin1" style="display: none;">
                <div class="row">
                    <div class="col-md-6"><p>Sucursal</p> </div>
                    <div class="col-md-6"><dx-text-box [(value)]="sucursal" [readOnly]="true" ></dx-text-box></div>
                   <!--  <div class="col-md-6">
                        <dx-select-box [items]="sucursalesDefault" 
                    [value]="sucursalesDefault" 
                    [readOnly]="false" 
                    [disabled]="false"
                    (onValueChanged)="asignarsucursalD($event)"></dx-select-box>
                    </div> -->
                </div>
            </div>
            <div id="admin2" style="display: none;">
                <div class="row">
                    <div class="col-md-6"><p>Sucursal</p> </div>
                    <!-- <div class="col-md-6"><dx-text-box [(value)]="sucursal" [readOnly]="false" ></dx-text-box></div> -->
                    <div class="col-md-6">
                        <dx-select-box [items]="sucursalesDefault" 
                    [value]="sucursalesDefault" 
                    [readOnly]="false" 
                    [disabled]="false"
                    (onValueChanged)="asignarsucursalD($event)"></dx-select-box>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6"><p>Fecha</p> </div>
                <div class="col-md-6"> <dx-date-box [(value)]="fecha" [type]="'date'" [showClearButton]="true" >
                    <dx-validator>
                        <dxi-validation-rule type="required" message="La fecha es requerida"></dxi-validation-rule>
                    </dx-validator>
                </dx-date-box></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p>Fecha Transacción</p> </div>
                <div class="col-md-6"><dx-text-box [(value)]="fecha_transaccion" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div>
        </div>
    
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3"><p>Observaciones</p> </div>
                <div class="col-md-9"><dx-text-box [(value)]="observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
            </div>
        </div>
        
    </div>

    <div class="remiPro">
        <div class="detalle">
            <div class="titcent row" >
                <div class="alinearBoton col-md-4" >
                    <dx-button icon="plus" [type]="'success'" [disabled]="false" (onClick)="anadirProducto($event)">
                </dx-button>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <h6>Detalle Productos</h6>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            
            <div class="row titulosT">
                <div class="col-3">
                    <h5>Producto</h5>
                </div>
                <div class="col-1">
                    <h5>Cajas</h5>
                </div>
                <div class="col-1">
                    <h5>Piezas</h5>
                </div>
                <div class="col-1">
                    <h5>Cajas</h5>
                </div>
                <div class="col-1">
                    <h5>Piezas</h5>
                </div>
                <div class="col-2">
                    <h5>Motivo</h5>
                </div>
                <div class="col-2">
                    <h5>Justificación</h5>
                </div>
                <div class="col-1">
                    <div class="row">
                        <div class="col-md-12"> <h5>Eliminar</h5></div>
                    </div>
                </div>
            </div>
            <div *ngFor="let p of productosDevueltos;let i = index" style="text-align: center;margin-top: 1em;">
                <div class="row altura">
                    <div class="col-3">
                        <dx-select-box  [items]="productosVendidos2" [(value)]="p.REFERENCIA" [readOnly]="false" [disabled]="false"
                        [searchEnabled]="true"  
                        valueExpr="producto.PRODUCTO" displayExpr="producto.PRODUCTO" (onValueChanged)="obtenerDetallesDoc($event,i)">
                    </dx-select-box>
                   
                    </div>
                    <div class="col-1">
                        <dx-number-box [(value)]="p.cantFactCajas" [disabled]="false" [readOnly]="true"></dx-number-box>
                    </div>
                    <div class="col-1">
                         <dx-number-box [(value)]="p.cantFactPiezas" [disabled]="false" [readOnly]="true"></dx-number-box>
                    </div> 
                    <div class="col-1">
                         <dx-number-box [(value)]="p.cantDevueltaCajas" [disabled]="false" [readOnly]="false" (onValueChanged)="transformarM2($event,i)"></dx-number-box>
                    </div>
                    <div class="col-1">
                         <dx-number-box [(value)]="p.cantDevueltaPiezas" [disabled]="false" [readOnly]="false" (onValueChanged)="transformarM2($event,i)"></dx-number-box>
                    </div>
                    <div class="col-2">
                        <dx-select-box [items]="menuMotivo" [(value)]="p.motivo" [readOnly]="false" [disabled]="false"
                        [searchEnabled]="true"  >
                    </dx-select-box>
                    </div>
                    <div class="col-2">
                        <dx-text-box [(value)]="p.justificacion" [disabled]="false" [readOnly]="false"></dx-text-box>
                    </div>
                    <div class="col-1" >
                        <dx-button icon="clear" color="white" class="bt" (onClick)="deleteProducto($event,i)"></dx-button> 
                    </div>   
                </div>
        
            </div>
        
        </div>
        <div class="remiPro">
        <div class="row" >
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="row" >
                    <div class="col-md-3"><p>Total</p> </div>
                    <div class="col-md-9 total"><dx-text-box [(value)]="total" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                </div>
            </div>
           
        </div>
        <div style="text-align: center">
            <dx-button
                            class="button-info bt2"
                            text="Guardar"
                            [disabled]="false"
                            (onClick)="buscarProductosPendientes()"><!-- // guardarDevolucion -->
                        </dx-button>
    
                        
        </div>
    </div>
    </div>

  

   

</div>

<div id="admin" class="remiPro" style="display: none;">
    <dx-data-grid #datag2
    id="gridContainer"
    [dataSource]="devolucionesPendientes"
    [showBorders]="true">
    <dxo-filter-row 
    [visible]="true" ></dxo-filter-row>
    
    <dxo-search-panel 
    [visible]="true" 
   
    [width]="240" 
    placeholder="Buscar..."></dxo-search-panel>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
    <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
    <dxi-column
            dataField="_id"
            caption="Devolucion N"
            dataType="string"
            [visible]="false">
        </dxi-column>
    <dxi-column
        dataField="id_devolucion"
        caption="Devolucion N"
        dataType="string"
        sortOrder="desc">
    </dxi-column>
    <dxi-column
        dataField="fecha"
        caption="Fecha"
        dataType="string">
    </dxi-column>
    <dxi-column
        dataField="num_documento"
        caption="Documento #"
        dataType="string">
    </dxi-column>
    <dxi-column
    dataField="cliente"
    caption="Cliente"
    dataType="string">
    </dxi-column>
    <dxi-column
        dataField="totalDevolucion"
        caption="Total"
        dataType="string"
        [visible]="true">
    </dxi-column>
    <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="10%">
        <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
    </dxi-column>
    <dxi-column type="buttons" dataField="bt2"  caption="Acciones" width="20%" [visible]="true">
        <dxi-button text="Aprobar" [onClick]="getCourseFile2"></dxi-button>
        <dxi-button text="Rechazar" [onClick]="getCourseFile3"></dxi-button>
        <!-- <dxi-button text="Rechazar" [onClick]="rechazarOrden"></dxi-button> -->
        
    </dxi-column>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid>

</div>


<div id="aprobaciones" class="remiPro" style="display: none;">
    <h4>Devoluciones Pendientes</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="devolucionesPendientes"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="_id"
            caption="Devolucion N"
            dataType="string"
            [visible]="false">
        </dxi-column>
        <dxi-column
            dataField="id_devolucion"
            caption="Devolucion N"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="fecha"
            caption="Fecha"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="num_documento"
            caption="Documento #"
            dataType="string">
        </dxi-column>
        <dxi-column
        dataField="cliente"
        caption="Cliente"
        dataType="string">
        </dxi-column>
        <dxi-column
            dataField="totalDevolucion"
            caption="Total"
            dataType="number"
            [visible]="true">
        </dxi-column>
       
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>


    <br>
    <h4>Devoluciones Aprobadas</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="devolucionesAprobadas"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="_id"
            caption="Devolucion N"
            dataType="string"
            [visible]="false">
        </dxi-column>
        <dxi-column
            dataField="id_devolucion"
            caption="Devolucion N"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="fecha"
            caption="Fecha"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="num_documento"
            caption="Documento #"
            dataType="string">
        </dxi-column>
        <dxi-column
        dataField="cliente"
        caption="Cliente"
        dataType="string">
        </dxi-column>
        <dxi-column
            dataField="totalDevolucion"
            caption="Total"
            dataType="string"
            [visible]="true">
        </dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
        <!-- <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column> -->
       
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>



    <br>
    <h4>Devoluciones Rechazadas</h4>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="devolucionesRechazadas"
        [showBorders]="true">
        <dxo-filter-row 
        [visible]="true" ></dxo-filter-row>
        
        <dxo-search-panel 
        [visible]="true" 
    
        [width]="240" 
        placeholder="Buscar..."></dxo-search-panel>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
        <dxo-export [enabled]="true" fileName="Devoluciones" [allowExportSelectedData]="true"></dxo-export>
        <dxi-column
            dataField="_id"
            caption="Devolucion N"
            dataType="string"
            [visible]="false">
        </dxi-column>
        <dxi-column
            dataField="id_devolucion"
            caption="Devolucion N"
            dataType="string"
            sortOrder="desc">
        </dxi-column>
        <dxi-column
            dataField="fecha"
            caption="Fecha"
            dataType="string">
        </dxi-column>
        <dxi-column
            dataField="num_documento"
            caption="Documento #"
            dataType="string">
        </dxi-column>
        <dxi-column
        dataField="cliente"
        caption="Cliente"
        dataType="string">
        </dxi-column>
        <dxi-column
            dataField="totalDevolucion"
            caption="Total"
            dataType="number"
            [visible]="true">
        </dxi-column>
        <dxi-column type="buttons" dataField="bt1"  caption="Ver" width="15%">
            <dxi-button icon="fa fa-arrow-down" [onClick]="getCourseFile"></dxi-button>   
        </dxi-column>
       
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>