<div *ngIf="mostrarLoading">
    <app-loading-messagge [messagge]="mensajeLoading"></app-loading-messagge>
</div>

<br>
<div class="row remiPro">
    <div class="col-md-8"></div>
    <div class="col-md-4"> 
        <dx-select-box [items]="menu" 
        [value]="menu[0]" 
        [readOnly]="false" 
        [disabled]="false"
        class="form-control select"
        (onValueChanged)="opcionMenu($event)"
        ></dx-select-box>
    </div>
</div>


<br><br>
<div class="row" *ngIf="newCaja" id="content" #content>
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <h5 class="card-header text-center font-weight-bold text-uppercase ">CAJA MENOR</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-6 textP">Fecha</div>
                                        <div class="col-md-4 dateB"><dx-date-box [(value)]="cajaMenor.fecha"  [(readOnly)]="!isAdmin"  (onValueChanged)="buscarTransaccionesPorFecha($event)" type="date"></dx-date-box></div>
                                        <div class="col-md-2"></div>

                                        <div class="col-md-6 textP">Sucursal</div>
                                        <div class="col-md-4 dateB">
                                            <dx-select-box [items]="arraySucursales" 
                                                [(value)]="cajaMenor.sucursal" 
                                                [(readOnly)]="!isAdmin" 
                                                [disabled]="false"
                                                (onValueChanged)="traerTransaccionesFinancierasPorDia()">
                                            </dx-select-box>
                                        </div>
                                        <div class="col-md-2"></div>

                                        <div class="col-md-6 textP textP2">Estado</div>
                                        <div class="col-md-4 centrar textP2">{{cajaMenor.estado}}</div>
                                        <div class="col-md-2"></div>

                                        <div class="col-md-6 textP textP2">Usuario</div>
                                        <div class="col-md-4 centrar textP2">{{cajaMenor.usuario}}</div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="text-align: center;">CONSECUTIVO</div>
                        <div style="text-align: center;font-size: 4rem;margin-top: -1rem;">{{cajaMenor.idDocumento}}</div>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <dx-data-grid
            id="gridContainer"
            [dataSource]="transaccionesCaja"
            [showBorders]="true">

            <dxo-filter-row [visible]="true" ></dxo-filter-row>
            <dxo-export [enabled]="true" fileName="Caja_Menor" [allowExportSelectedData]="true"></dxo-export>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-selection mode="single"></dxo-selection>

            <dxi-column caption="" width="4%"></dxi-column> 
            <dxi-column dataField="Orden" caption="" width="7%" sortOrder="desc" [visible]="false" ></dxi-column> 
            <dxi-column dataField="SubCuenta" caption="SUBCUENTA" width="25%"></dxi-column>
            <dxi-column dataField="Sub1" caption="DOC"></dxi-column>
            <dxi-column dataField="Sub2" caption="CC"></dxi-column>
            <dxi-column dataField="Cuenta" caption="" [groupIndex]="0" [autoExpandGroup]="false" sortOrder="asc"></dxi-column>

            <dxi-column dataField="TotalIngresos" caption="INGRESOS" alignment="right"></dxi-column>
            <dxi-column dataField="TotalSalidas" caption="SALIDAS" alignment="right"></dxi-column>
            <dxi-column dataField="TotalRC" caption="RyT" alignment="right"></dxi-column>

            <dxo-summary>
                <dxi-group-item
                    column="TotalIngresos"
                    summaryType="sum"
                    displayFormat="{0}"
                    [showInGroupFooter]="false"
                    [alignByColumn]="true">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-group-item>
                <dxi-group-item
                    column="TotalSalidas"
                    summaryType="sum"
                    displayFormat="{0}"
                    [showInGroupFooter]="false"
                    [alignByColumn]="true">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-group-item>
                <dxi-group-item
                    column="TotalRC"
                    summaryType="sum"
                    displayFormat="{0}"
                    [showInGroupFooter]="false"
                    [alignByColumn]="true">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-group-item>
            </dxo-summary>

        
            <dxo-summary>
                <dxi-total-item
                    column="SubCuenta"
                    displayFormat="BALANCE CAJA"
                    alignment="center">
                </dxi-total-item>

                <dxi-total-item
                    column="TotalIngresos"
                    dataType="number"
                    summaryType="sum"
                    showInColumn="TotalAmount"
                    displayFormat="{0}"
                    alignment="right">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-total-item>

                <dxi-total-item
                    column="TotalSalidas"
                    dataType="number"
                    summaryType="sum"
                    showInColumn="TotalAmount"
                    displayFormat="{0}"
                    alignment="right">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-total-item>

                <dxi-total-item
                    column="TotalRC"
                    dataType="number"
                    summaryType="sum"
                    showInColumn="TotalAmount"
                    displayFormat="{0}"
                    alignment="right">
                    <dxo-value-format type="currency" [precision]="2"></dxo-value-format>   
                </dxi-total-item>
            </dxo-summary>
            <dxo-remote-operations [sorting]="true"></dxo-remote-operations>
        </dx-data-grid>
        <div class="row sectionDatos">
            <div class="col-md-5" style="text-align: center;margin-top: 1.2em;">RESULTADO DEL EJERCICIO</div>
            <div class="col-md-7" style="text-align: right;margin-top: 1.2em;">${{resultado | number : '.2-2'}}</div>
            <hr width="100%">
            <div class="col-md-5" style="text-align: center;margin-bottom: 1.2em;">ESTADO DE LA CAJA</div>
            <div class="col-md-7" style="text-align: right;margin-bottom: 1.2em;">{{estadoCuenta}}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button class="btn btn-block btn-success" [disabled]="existeCaja" style="background-color: #ff5722;border-color: #ff5722;" (click)="guardarCajaMenor()">Cerrar Caja</button>
            </div>
            <div class="col-md-4"></div>
        </div>
        
    </div>
    <div class="col-md-1"></div>
</div>


<div *ngIf="!newCaja">
    <div class="card">
        <h5 class="card-header text-center font-weight-bold text-uppercase ">Registros Generados Caja</h5>
        <div class="card-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                        <div class="row card">
                            <div class="col-md-12"> 
                                <div class="row">
                                    <div class="col-md-3"  style="margin-top: 0.5em;">Desde</div>
                                    <div class="col-md-9">
                                    <dx-date-box
                                        [(value)]="nowdesde"
                                        type="date">
                                    </dx-date-box>
                                    </div>

                                    <div class="col-md-3" style="margin-top: 0.5em;">Hasta</div>
                                    <div class="col-md-9">
                                    <dx-date-box
                                        [(value)]="nowhasta"
                                        type="date">
                                    </dx-date-box>
                                    </div>

                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 btnSearch">
                                        <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerCajaPagoPorRango()">Buscar</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>        
                            </div>
                        </div>                
                    </div>
                    
                    <div class="col-md-4 " style="margin-left: 1em;">
                    <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta General</h6></div>
                    <div class="row card">
                        <br><br>
                        <div class="col-md-12"> 
                            <div class="row">  
                        
                                <div class="col-md-3"></div>
                                <div class="col-md-6 btnSearch">
                                    <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerDocumentosCaja()">Buscar Todos</button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>        
                        </div>
                        <br>
                    </div>         

                </div>
                <div class="col-md-2"></div>
            </div>   
        </div>
    </div>

    <br>
    <dx-data-grid #datag2
        id="gridContainer"
        [dataSource]="listadoCaja"
        [showBorders]="true">
        <dxo-filter-row [visible]="true" ></dxo-filter-row>
        <dxo-export [enabled]="true" fileName="Caja_Menor" [allowExportSelectedData]="true"></dxo-export>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
        <dxi-column dataField="idDocumento" caption="ID" dataType="number" sortOrder="desc"></dxi-column>
        <dxi-column dataField="fecha" dataType="date" format="dd/MM/yyyy"  caption="Fecha" ></dxi-column>
        <dxi-column dataField="usuario" caption="Usuario" dataType="string" [visible]="false" ></dxi-column>
        <dxi-column dataField="sucursal" caption="Sucursal" dataType="string" ></dxi-column>
        <dxi-column dataField="estado" caption="Estado" dataType="string"></dxi-column>
        <dxi-column dataField="totalIngresos" caption="Total Ingresos" [format]="{ style: 'currency', currency: 'USD', useGrouping: true, minimumSignificantDigits: 2 }"></dxi-column>
        <dxi-column dataField="totalSalidas" caption="Total Salidas" [format]="{ style: 'currency', currency: 'USD', useGrouping: true, minimumSignificantDigits: 2 }"></dxi-column>
        <dxi-column dataField="totalRC" caption="Total RC" [format]="{ style: 'currency', currency: 'USD', useGrouping: true, minimumSignificantDigits: 3 }"></dxi-column>
        <dxi-column dataField="resultado" caption="Resultado" [format]="{ style: 'currency', currency: 'USD', useGrouping: true, minimumSignificantDigits: 3 }"></dxi-column>
        <dxi-column dataField="estadoCaja" caption="Estado Caja" dataType="string"></dxi-column>
<!--         <dxi-column type="buttons" dataField="bt1" caption="Descargar" width="10%">
            <dxi-button icon="fa fa-download" [onClick]="downloadFile"></dxi-button>   
        </dxi-column> -->

      <!--   <dxi-column type="buttons" dataField="bt2" caption="Eliminar" width="7%" [visible]="true">
            <dxi-button icon="clear" [onClick]="getCourseFile7"></dxi-button>   
        </dxi-column> -->
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[8, 12, 20]"
        ></dxo-pager>
    </dx-data-grid>
</div>
