
<br><br>
<div class="card mb-3">
    <div class="card-header">
        <div id="admin" style="display: block;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8"> </div>
                    <div class="col-md-4" style="text-align: right;"> <dx-select-box [items]="menu" 
                        [value]="menu[0]" 
                        [readOnly]="false" 
                        [disabled]="false"
                        (onValueChanged)="opcionMenu($event)"
                        ></dx-select-box></div>
                        <div class="col-md-5"></div>
            </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 card carIn">
                <div id="newAudGlobal"  style="display: none;">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="row">
                                <br><br>
                                <div class="col-md-12" style="text-align: center;"><h5>Nueva Auditoria</h5></div>

                                <div class="col-md-4" style="padding-top: 0.7em;">ID Auditoria</div>
                                <div class="col-md-8"><dx-number-box [(value)]="newAuditoria.idAuditoria" [disabled]="false" [readOnly]="false"></dx-number-box></div>

                                <div class="col-md-4" style="padding-top: 0.7em;">Contraseña / Código</div>
                                <div class="col-md-8"><dx-text-box [(value)]="newAuditoria.contrasena" [disabled]="false" [readOnly]="false"></dx-text-box></div>

                                <div class="col-md-4" style="padding-top: 0.7em;">Fecha Inicio</div>
                                <div class="col-md-8"><dx-date-box [(value)]="newAuditoria.fecha_inicio" [disabled]="false" [readOnly]="true"></dx-date-box></div>

                                <div class="col-md-4" style="padding-top: 0.7em;">Sucursal</div>
                                <div class="col-md-8"><dx-select-box [items]="locales" [(value)]="nameSucursal" [readOnly]="false" [disabled]="false"
                                    [searchEnabled]="true" valueExpr="nombre" displayExpr="nombre" (onValueChanged)="validarSucursal($event)">
                                </dx-select-box></div>

                                <div class="col-md-4" style="padding-top: 0.7em;">Auditado</div>
                                <div class="col-md-8"><dx-text-box [(value)]="newAuditoria.auditado" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                        <button class="btn btn-block btn-success espacio" (click)="guardarAuditoria()">Registrar Auditoria</button>
                                        <br>
                                        <br>
                                        <br>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <h5 class="card-header text-center font-weight-bold text-uppercase ">Auditorias en Proceso</h5>
                                    <div class="card-body">
                                      <div class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                          <a class="text-success" >
                                          
                                          </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center">
                                          <tr>
                                            <th class="text-center" >ID</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-center" >Sucursal</th>
                                            <th class="text-center" >Ver Lista</th>
                                            <th class="text-center" colspan="2" >Acciones</th>
                                            
                                          </tr>
                                         
                                          <tr *ngFor="let audit of auditoriasIniciadas; let id = index">
                                            <td>
                                              <span>{{audit.idAuditoria}}</span>
                                            </td>
                                           
                                            <td>
                                              <span>{{audit.contrasena}}</span>
                                            </td>
                                            <td>
                                              <span>{{audit.sucursal.nombreComercial}}</span>
                                            </td>
                                           
                                            <td>
                                              <span><button class="btnIcons5" (click)="verLista(audit.idAuditoria)"><i class="fa fa-list fa-1x"></i></button></span>
                                            </td>
                                            <td style="width: 15%;">
                                                <span><button class="btn btn-block btn-success " (click)="continuarAuditoria(id)">Continuar</button></span>
                                            </td>
                                            <td style="width: 15%;">
                                                <span><button class="btn btn-block btn-success " (click)="seguirAuditoria(id)">Seguir</button></span>
                                            </td>
                                            
                                          </tr>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>

                </div>

                
                    <div id="tabla3" style="display: block;">
                        <div  class="col-md-12">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10" >
                                    <dx-data-grid 
                                    id="gridContainer"
                                    [dataSource]="auditoriasAcabadas"
                                    [showBorders]="true">   
                                        
                                        <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                        <dxo-export [enabled]="true" fileName="Auditorias" [allowExportSelectedData]="true"></dxo-export>
                                        <dxi-column dataField="idAuditoria" sortOrder="desc"></dxi-column>
                                        <dxi-column dataField="sucursal.nombre" ></dxi-column>
                                        <dxi-column dataField="fecha_inicio" dataType="date" [visible]="true"></dxi-column>
                                        <dxi-column dataField="fecha_fin"  dataType="date"></dxi-column>
                                        <dxi-column dataField="cantidad_productos"  dataType="number" caption="Prod.Aud"></dxi-column>
                                        <dxi-column type="buttons"  caption="Ver lista">
                                            <dxi-button icon="fa fa-list fa-1x" [onClick]="getCourseFile"></dxi-button>     
                                        </dxi-column>
                                        <dxi-column type="buttons"  caption="Ver Novedades">
                                            <dxi-button icon="fa fa-eye" [onClick]="getCourseFile2"></dxi-button>     
                                        </dxi-column>
                                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-pager 
                                            [showPageSizeSelector]="true"
                                            [allowedPageSizes]="[5, 10, 20]"
                                            [showInfo]="true">
                                        </dxo-pager>
                                    </dx-data-grid>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>

                    <div id="tabla2" style="display: none;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"><button class="btn btnIcons6" (click)="regresar2()">Regresar</button></div>
                                <div class="col-md-12">
                                    <dx-data-grid #data2
                                    id="gridContainer"
                                    [dataSource]="auditoriaProductosleida"
                                    [showBorders]="true"
                                    (onExporting)="onExporting($event)"
                                    (onExported)="onExported($event)">   
                                        
                                        <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                        <dxo-export [enabled]="true" fileName="Auditorias" [allowExportSelectedData]="true"></dxo-export>
                                        <dxi-column dataField="idAud" sortOrder="desc"></dxi-column>
                                        <dxi-column dataField="idPrincipal" [visible]="false"></dxi-column>
                                        <dxi-column dataField="fecha" dataType="date" [visible]="true"></dxi-column>
                                        <dxi-column dataField="auditor" [visible]="false"></dxi-column>
                                        <dxi-column dataField="sucursal.nombre" [visible]="false"></dxi-column>
                                        <dxi-column dataField="producto.PRODUCTO" caption="Producto" width="30%"></dxi-column>
                                        <dxi-column caption="Sistema"  dataField="sucursal1">
                                            <dxi-column dataField="cajas_sistema"  dataType="number" caption="Cajas" ></dxi-column>
                                            <dxi-column dataField="piezas_sistema"  dataType="number" caption="Piezas"></dxi-column>
                                        </dxi-column>
                                        <dxi-column caption="Fisico"  dataField="sucursal1">
                                            <dxi-column dataField="cajas_fisico"  dataType="number" caption="Cajas"></dxi-column>
                                            <dxi-column dataField="piezas_fisico"  dataType="number" caption="Piezas"></dxi-column>
                                        </dxi-column>
                                        <dxi-column caption="Diferencia"  dataField="sucursal1">
                                            <dxi-column dataField="cajas_diferencia"  dataType="number" caption="Cajas"></dxi-column>
                                            <dxi-column dataField="piezas_diferencia"  dataType="number" caption="Piezas"></dxi-column>
                                            <dxi-column dataField="m2diferencia"  dataType="number" caption="Diferencia" [visible]="false"></dxi-column>
                                        </dxi-column>
                                        <dxi-column type="buttons"  caption="Eliminar">
                                            <dxi-button icon="fa fa-trash" [onClick]="getCourseFile3"></dxi-button>     
                                        </dxi-column>
                                        <dxi-column dataField="condicion" caption="Condición" [visible]="false"></dxi-column>
                                        <dxi-column dataField="impacto" caption="Impacto" [visible]="false"></dxi-column>
                                       
                                        <dxi-column dataField="auditado" [visible]="false"></dxi-column>
                                        <dxi-column dataField="observaciones" caption="Observaciones" [visible]="false"></dxi-column>
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-pager 
                                            [showPageSizeSelector]="true"
                                            [allowedPageSizes]="[5, 10, 20]"
                                            [showInfo]="true">
                                        </dxo-pager>
                                       
                                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                    </dx-data-grid>
                                </div>
                             
                            </div>
                        </div>
                    </div>


                    <div id="tabla4" style="display: none;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"><button class="btn btnIcons6" (click)="regresar2()">Regresar</button></div>
                                <div class="col-md-12">
                                    <div style="text-align: center;"><h4>Novedades de Auditoría</h4></div>
                                </div>
                                
                                <div class="col-md-12">
                                    <dx-data-grid #datag2
                                    id="gridContainer"
                                    [dataSource]="auditoriaProductosleida2"
                                    [showBorders]="true"
                                    (onExporting)="onExporting2($event)"
                                    (onExported)="onExported2($event)">   
                                        <dxo-filter-row [visible]="true" ></dxo-filter-row>
                                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                                        <dxo-export [enabled]="true" fileName="Novedades Productos" [allowExportSelectedData]="true"></dxo-export>
                                        <dxi-column dataField="idAud" sortOrder="desc"></dxi-column>
                                        <dxi-column dataField="sucursal.nombre" [visible]="false"></dxi-column>
                                        <dxi-column dataField="fecha" dataType="date" [visible]="true"></dxi-column>
                                        <dxi-column dataField="auditor" [visible]="false"></dxi-column>
                                        <dxi-column dataField="auditado" [visible]="false"></dxi-column>
                                        <dxi-column dataField="producto.PRODUCTO" caption="Producto" width="30%"></dxi-column>
                                        <dxi-column dataField="cajas_danadas"  dataType="number" caption="Cajas"></dxi-column>
                                        <dxi-column dataField="piezas_danadas"  dataType="number" caption="Piezas"></dxi-column>
                                        <dxi-column dataField="valoracion" caption="Condición" [visible]="true"></dxi-column>
                                        <dxi-column dataField="impactoDanado" caption="Impacto" [visible]="true"></dxi-column>
                                        <dxi-column dataField="auditor" caption="Auditor" [visible]="false"></dxi-column>
                                        <dxi-column dataField="observaciones" caption="Observaciones" [visible]="false"></dxi-column>
                                        <dxo-paging [pageSize]="10"></dxo-paging>
                                        <dxo-pager 
                                            [showPageSizeSelector]="true"
                                            [allowedPageSizes]="[5, 10, 20]"
                                            [showInfo]="true">
                                        </dxo-pager>
                                       
                                        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
                                    </dx-data-grid>
                                </div>
                             
                            </div>
                            
                        </div>
                    </div>
                    
                
                <div  id="newAud"  style="display: none;">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12" style="text-align: center;"><h5>Auditorias de Inventarios</h5></div>

                                    <div class="row">
                                        <div class="col-md-4" ><p class="texto">ID</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.idAud" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Sucursal</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="nombreSucursal" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Auditor</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.auditor" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Producto</p></div>
                                        <div class="col-md-8"><dx-select-box  [dataSource]="productos22" [(value)]="productoEntregado" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true" valueExpr="PRODUCTO" displayExpr="PRODUCTO" (onValueChanged)="obtenerDetallesproducto($event)">
                                        </dx-select-box>
                                        <br>
                                        </div>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Ubicación</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="auditoria.ubicacion" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Existencia en sistema</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.cajas_sistema" [disabled]="false" [readOnly]="true" (onChange)="calcularTotalM2Base()"></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.piezas_sistema" [disabled]="false" [readOnly]="true" (onChange)="calcularTotalM2Base()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Fisico</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.cajas_fisico" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2()" ></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.piezas_fisico" [disabled]="lectura" [(readOnly)]="lectura" (onChange)="calcularTotalM2()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Novedades</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.cajas_danadas" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Dano()"></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="auditoria.piezas_danadas" [disabled]="lectura" [readOnly]="false" (onChange)="calcularTotalM2Dano()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Valoración</h6></div>
                                        <div class="col-md-12"><dx-select-box [items]="menuValoracion" [(value)]="auditoria.valoracion" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true"></dx-select-box>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Observaciones</h6></div>
                                        <div class="col-md-12"><dx-text-box [(value)]="auditoria.observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                        <button class="btn btn-block btn-success espacio" [(disabled)]="btnRe" (click)="guardarAuditoriaProducto()">Guardar Auditoria</button>
                                        <br>
                                        <br>
                                        <br>
                                        </div>
                                        <div class="col-md-3"></div>
                                        </div>
                                    
                                </div>
                    
                    
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>


                <div  id="editAud"  style="display: none;">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12" style="text-align: center;"><h5>Editar Auditoria</h5></div>

                                    <div class="row">
                                        <div class="col-md-4" ><p class="texto">ID</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="editAuditoria.idAud" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Sucursal</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="nombreSucursal" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Auditor</p></div>
                                        <div class="col-md-8"><dx-text-box [(value)]="editAuditoria.auditor" [disabled]="false" [readOnly]="true"></dx-text-box></div>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4"><p class="texto">Producto</p></div>
                                        <div class="col-md-8"><dx-select-box [items]="productos" [(value)]="productoEntregado" [readOnly]="true" [disabled]="false"
                                            [searchEnabled]="true" valueExpr="PRODUCTO" displayExpr="PRODUCTO">
                                        </dx-select-box>
                                        <br>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Existencia en sistema</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.cajas_sistema" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Base()"></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.piezas_sistema" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Base()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Fisico</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.cajas_fisico" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2Edit()" ></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.piezas_fisico" [disabled]="lectura" [(readOnly)]="lectura" (onChange)="calcularTotalM2Edit()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Novedades</h6></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.cajas_danadas" [disabled]="false" [readOnly]="false" (onChange)="calcularTotalM2DanoEdit()"></dx-number-box></div>
                                        <div class="col-md-6"><dx-number-box [(value)]="editAuditoria.piezas_danadas" [disabled]="lectura" [readOnly]="false" (onChange)="calcularTotalM2DanoEdit()"></dx-number-box></div> 
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Valoración</h6></div>
                                        <div class="col-md-12"><dx-select-box [items]="menuValoracion" [(value)]="editAuditoria.valoracion" [readOnly]="false" [disabled]="false"
                                            [searchEnabled]="true"></dx-select-box>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                    
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; margin-bottom: 1em;background-color: #c2c2c2;"><h6>Observaciones</h6></div>
                                        <div class="col-md-12"><dx-text-box [(value)]="editAuditoria.observaciones" [disabled]="false" [readOnly]="false"></dx-text-box></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                        <button class="btn btn-block btn-success espacio" [(disabled)]="btnRe" (click)="guardarEditAuditoriaProducto()">Guardar Auditoria</button>
                                        <br>
                                        <br>
                                        <br>
                                        </div>
                                        <div class="col-md-3"></div>
                                        </div>
                                    
                                </div>
                    
                    
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>

                <div id="tablaAuditoria" style="display: none;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2"><button class="btn btnIcons6" (click)="regresar()">Regresar</button></div>
                                    <div class="col-md-10"></div>
                                </div>
                                
                                <div class="card">
                                    <h5 class="card-header text-center font-weight-bold text-uppercase ">Auditorias 1</h5>
                                    <div class="card-body">
                                      <div id="table" class="table-editable">
                                        <span class="table-add float-right mb-3 mr-2">
                                          <a class="text-success" >
                                          
                                          </a>
                                        </span>
                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="tabla1">
                                            <tr>
                                                <th class="text-center" rowspan="2">ID</th>
                                                
                                                <th class="text-center" rowspan="2">Fecha</th>
                                               
                                                <th class="text-center" rowspan="2">Producto</th>
                                                <th class="text-center" colspan="2">Sistema</th>
                                                <th class="text-center" colspan="2">Fisico</th>
                                                <th class="text-center" colspan="2">DIFF</th>
                                                <th class="text-center" rowspan="2" >Condición</th>
                                                <th class="text-center" rowspan="2" >Impacto</th>
                                                <th class="text-center" colspan="2" >Acciones</th>
                                              </tr>
                                              <tr> 
                                              
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>
                                              
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>
                                                <th class="text-center" >Cajas </th>
                                                <th class="text-center">Piezas </th>

                                                <th class="text-center">Ac </th>
                                                <th class="text-center">El </th>
                                                
                                                
                                              </tr>
                                         
                                          <tr *ngFor="let audit of auditoriaProductosleida; let id = index">
                                            <td><span>{{audit.idAud}}</span></td>
                                            <td><span>{{audit.fecha}}</span></td>
                                            <td><span>{{audit.nombreproducto}}</span></td>
                                            <td><span>{{audit.cajas_sistema}}</span></td>
                                            <td><span>{{audit.piezas_sistema}}</span></td>
                                            <td><span>{{audit.cajas_fisico}}</span></td>
                                            <td><span>{{audit.piezas_fisico}}</span></td>
                                            <td><span>{{audit.cajas_diferencia}}</span></td>
                                            <td><span>{{audit.piezas_diferencia}}</span></td>
                                            <td><span>{{audit.valoracion}}</span></td>
                                            <td><span>{{audit.impacto}}</span></td>
                                            
                                           <td>
                                               <span><button class="btnIcons5" (click)="editarAuditoriaProducto(audit.idAud)"><i class="fa fa-pencil"></i></button></span>
                                            </td>
                                            <td>
                                                <span><button class="btnIcons5" (click)="eliminarAuditoriaProducto(id)"><i class="fa fa-trash-o"></i></button></span>
                                            </td>
                                            
                                          </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4" style="text-align: center;"><button class="btn btnIcons6" (click)="realizarActualizaciones()">Actualizar Productos</button></div>
                                            <div class="col-md-4"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
 





            









