.espacioDivs div{
    margin-top: 1em;
}

.espacioDivs dx-text-box{
    margin-top: -1em;
}

.espacioDivs dx-number-box{
    text-align: right;
}

::ng-deep .espacioDivs .dx-texteditor-input{
    text-align: center;
}

::ng-deep .align .dx-texteditor-input{
    text-align: right;
}

.espacioSelect dx-select-box,dx-number-box,dx-text-box,dx-button,dx-autocomplete,dx-date-box{
    margin-top: -0.8em;
}

.cardPadding{
    padding-top: 1em;
    padding-bottom: 1em;
}

.content {
  text-align: center;
}

.sectionDatos{
    background-color: white;
    margin-left: 0.1em;
    margin-right: 0em;
}

.sectionDatos div{
  height: 1.5em;
  font-weight: bold;
}


.padding-ob{
    padding: 0.6em;
}

.select{
    text-align: center;
    background-color: white;
}

::ng-deep .remiPro .dx-selectbox input {  
    text-align: center;  
}  
::ng-deep .remiPro .dx-selectbox-popup-wrapper .dx-list-item {  
    text-align: center;  
} 

.btnSearch{
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

::ng-deep .cssTotal .dx-texteditor-input{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
   
}

.card-header-subtitle{
    font-size: 12pt;
}

.padding-tr-15{
    width: 15%;
    padding: 0.5em;
}

.padding-tr-10{
    width: 10%;
    padding: 0.5em;
}

::ng-deep .div-tablas .dx-texteditor-input{
    text-align: center; 
}

.div-tablas{
    display: flex;
    margin-top: -1em;
}

.dateB dx-date-box{
    margin-top: -0.8em;
}

.dates dx-date-box{
    margin-top: 0.05em;
}