<div *ngIf="mostrarLoading">
  <app-loading></app-loading>
</div>


<br><br>
 <div class="card">
    <h5 class="card-header text-center font-weight-bold text-uppercase ">Agenda Financiera de Pagos a Proveedores</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="col-md-12" style="text-align: center;font-weight: bold;"><h6>Consulta Específica</h6></div>
                <div class="row card">
                    <div class="col-md-12"> 
                        <div class="row">
                            <div class="col-md-3">Desde</div>
                            <div class="col-md-9">
                            <dx-date-box
                                [(value)]="nowdesde"
                                type="date">
                            </dx-date-box>
                            </div>

                            <div class="col-md-3">Hasta</div>
                            <div class="col-md-9">
                                <dx-date-box
                                    [(value)]="nowhasta"
                                    type="date">
                                </dx-date-box>
                            </div>

                            <div class="col-md-12">
                                <div class="dx-field radio">
                                    <div class="dx-field-value">
                                        <dx-radio-group
                                        [items]="tiposFactura"
                                        [(value)]="tipoFactura"
                                        layout="horizontal"
                                        (onValueChanged)="opcionRadioTipos($event)">
                                        </dx-radio-group>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4"></div>
                            <div class="col-md-4 btnSearch">
                                <button class="btn btn-block btn-success" style="background-color: #ff5722;border-color: #ff5722;" (click)="traerTransaccionesChequesPorRango()">Buscar</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>        
                    </div>
                </div>                
            </div>
            
           
            <div class="col-md-4"></div>
        </div>   
    </div>
</div>


<!-- <table>
    <tr>
        <th *ngFor="let item of data.columnNames">{{item}}</th>
    </tr>
    <tr *ngFor="let rowData of data.rows">
        <td *ngFor="let el of rowData">{{el}}</td>
    </tr>
</table> -->

<br>
<dx-data-grid #datag2
    id="gridContainer"
    [dataSource]="datosPago"
    [showBorders]="true">
    <!-- <dxo-filter-row [visible]="false" ></dxo-filter-row>
    <dxo-export [enabled]="true" [(fileName)]="nombreArchivo" [allowExportSelectedData]="true"></dxo-export>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel> -->
    <dxi-column dataField="fecha" caption="Fecha" format="dd/MM/yyyy" dataType="date"></dxi-column>
   <!--  <dxi-column dataField="banco1Nombre" caption="Banco" dataType="string"></dxi-column> -->
    <dxi-column dataField="valor1" caption="Banco 1" dataType="number" ></dxi-column>
    <dxi-column dataField="valor2" caption="Banco 2" dataType="number" *ngIf="mostrar2"></dxi-column>
    <dxi-column dataField="valor3" caption="Banco 3" dataType="number" *ngIf="mostrar3"></dxi-column>
    <dxi-column dataField="valor4" caption="Banco 4" dataType="number" *ngIf="mostrar4"></dxi-column>
   

    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid>


<!-- <dx-data-grid
  id="gridContainer"
  [dataSource]="listaFacturas"
  [columnAutoWidth]="true"
  [showBorders]="true"
  dataRowTemplate="dataRowTemplateName"
>
  

  <ng-container *dxTemplate="let employee of 'dataRowTemplateName'">
    <tr class="main-row">
      <td>sfsdf</td>
      <td>sfsdf</td>
      <td>sfsdf</td>
      <td>sfsdf</td>
      <td>sfsdf</td>
      <td>sfsdf</td>
    </tr>
    <tr class="notes-row">
      <td colspan="6"
        ><div>{{ employee.data.Notes }}</div></td
      >
    </tr>
  </ng-container>
</dx-data-grid>
 -->





